<template>
	<div class="">
		<group v-for="group,index in groups"
			:key="index"
			:group="group"></group>
	</div>
</template>

<script>
import group from './singleIndex'
export default {

  name: 'Group-Index',

  data () {
    return {	
    	groups: [],
    }
  },
  components: {
  	group,
  },
  created (){
  	this.jsonGroups();
  },
  methods: {
  	jsonGroups (){
  		axios.get('/groups_json')
	  	.then((response) => {
	  		console.log(response);
			this.groups = response.data;
	    }).catch(function (error) {
	 	 	console.log(error)
	    });
  	}
  }
}
</script>

<style lang="css" scoped>
</style>