<template>
    <div class="row">
        <div class="col-lg-12">
            <div class="group-cover-photo-area overflow-fix">
            	<img :src="'/storage/'+group.cover"  alt="">
                <div class="group-cover-photo-name align-self-center">
            		<div class="logoimg"><img :src="'/storage/'+group.logo" alt=""></div>
                    <h2 class="">{{group.name}}</h2>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="whats-your-mind-area overflow-fix">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="whats-your-mind-profile-picurt-area overflow-fix">
                            <a href=""><img src="/images/profile.png"/></a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <group-post-create :groupId="groupId"></group-post-create>
                    </div>
                </div>
                <group-posts></group-posts>
            </div>
        </div>
        <aside class="col-lg-4">
            <div class="right-sidebar-area overflow-fix">
                <div class="group-title-area overflow-fix">
                    <h2>Add Members</h2>
                    <div class="group-mamber-add-mail">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <input type="email" placeholder="Enter name or email address" name="email">
                    </div>
                    <p>Total Members: <span>1022</span></p>
                </div>
                <div class="group-title-area overflow-fix">
                    <h2>Description</h2>
                    <p>group.summery</p>
                </div>
                <div class="group-title-area overflow-fix">
                    <h2>Sub Group</h2>
                    <ul>
                        <li><a href="">Business<span>(71)</span></a></li>
                        <li><a href="">Sports<span>(71)</span></a></li>
                        <li><a href="">Technology<span>(71)</span></a></li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>
</template>

<script>
import GroupPostCreate from './post/Create'
import GroupPosts from './post/Index'
export default {

  name: 'SingleGroup',
  props: ['groupId'],
  data (){
  	return {
  		group: {},
  	}
  },
  components: {
  	'group-post-create': GroupPostCreate,
    GroupPosts
  },
  created (){
  	this.getGroup();
  },
  methods: {
  	getGroup (){
	  	axios.get('/group_json', {
	    params: {
	      group_id:this.groupId
	    }})
	  	.then((response) => {
	  		console.log(response);
			this.group = response.data;
	    }).catch(function (error) {
	 	 	console.log(error)
	    });
  	}
  }
}
</script>

<style lang="css" scoped>
</style>