<template>
	 <div class="card">
        <div class="row">
        <div class="col-sm-5 card-img">
            <img :src="'/storage/'+group.cover">
        </div>
        <div class="col-sm-7 card-info-area">
            <div class="card-info">
                <h2>{{ group.name }}</h2>
                <div class="group-info">
                    <p>
                        <i class="fa fa-user"></i>
                        <span class="number">1256</span>
                        <span>Members</span>
                    </p>
                    <p><a href="">
                        <i class="fa fa-clone"></i>
                        <span class="number">12</span>
                        <span>Sub-Group</span></a>
                    </p>
                </div>
                <div class="card-btn">
                    <form method="post">
                        <input type="hidden" value="1" name="group_id">
                        <button type="submit" class="btn"><i class="fa fa-plus"></i>Join</button>
                    </form>
                    <a :href="'/group/'+group.id" class="btn">View group</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
export default {

  name: 'singleIndex',
  props: {
  	group: {
  		type: Object,
  		required: true
  	}
  },
  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>