<template>
	<div class="whats-your-mind-content overflow-fix poll-edtior-for-create-area ">
        <form  enctype="multipart/form-data" @submit.prevent="storePost" method="post">
        <div class="whats-your-mind-text-area postBoxArea overflow-fix poll-edtior-for-create">
            <textarea 
                v-model="post.message"
                placeholder="share an article, photo, or update">
            </textarea>
            <div class="filsShow">
                <div v-for="image,index in post.images"
                    :key="index">
                    <img :src="image" alt="">
                    <button type="button"
                        @click="deleteEvent(index)">
                        <i class="fa fa-times-circle"></i>
                    </button>
                </div>
            </div>
            <div v-if="pullVisible" class="poll-input-area">
	            <div v-for="groupPoll,index in groupPullInput"
	            	class="whats-your-mind-text-area-iput overflow-fix">
			        <span></span>
			        <input v-if="index===groupPullInput-1" v-model="post.pollInput[index]" @focus="pollInputIncrement" type="text" placeholder="Add an option"/>

			        <input v-else v-model="post.pollInput[index]" type="text" placeholder="Add an option"/>
			    </div>
            </div>
            
        </div>
        <div class="whats-your-mind-text-area overflow-fix d-flex justify-content-between">
            <ul>
                <li class="fileUploadParent">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                    <span>photo</span>
                    <input type="file"
                        multiple="multiple"
                        name="imageUpload"
                                @change="onImageUpload"
                        class="imageUpload">
                </li>
                <li class="fileUploadParent">
                    <i class="fa fa-volume-up" aria-hidden="true"></i>
                    <span>Audio/video</span>
                    <input type="file"
                        multiple="multiple"
                        @change="onImageUpload"
                        name="imageUpload"
                        class="imageUpload">
                </li>
                <li @click="pullVisible=!pullVisible">
            		<i class="fa fa-bar-chart" aria-hidden="true"></i>
            		<span>Create poll</span>
            	</li>
            </ul>
            <button type="submit">Post</button>
        </div>
        </form>
    </div>
</template>

<script>
export default {

  name: 'GroupPostCreate',
  props: ['groupId'],
  data () {
    return {
        post: {
            message: '',
            images: [],
            multimedia: [],
            pollInput: [],
        },
        postImages: [],
        pullVisible: false,
        groupPullInput: 2,
    }
  },
  computed: {
  	groupPostInfo:{
	    get: function () {
	  		var self = this;
	      	return (function(){
	          var data = new FormData();
	          data.append('message' , self.post.message);
	          const postFile = self.postImages===undefined?[]:self.postImages;
	          for( var i = 0;i < postFile.length;i++) {
	            data.append('file[]', postFile[i]);
	          }
	          const groupPoll = self.post.pollInput === undefined? []:self.post.pollInput;
	          for(var j = 0;j < groupPoll.length;j++){
	          	data.append('poll[]' , groupPoll[j]);
	          }
	          return data;
	      	})();
  		},
	    set: function (newValue) {}

  	}
  },
  methods: {
  	pollInputIncrement (){
  		return this.groupPullInput +=1;
  	},
    storePost() {
      console.log(this.post);
      axios.post('/group/'+this.groupId+'/post_store', this.groupPostInfo)
        .then((response) => {
        	this.post= {};
        	this.post.pollInput= [];
        	this.groupPullInput= 2;
        	this.pullVisible = false;
        	this.groupPostInfo = '';
          console.log(response);
        	alert('successfully')
        }).catch(function (error) {
          console.log(error)
        });
    },
    onImageUpload (e) {
      var files = e.target.files || e.dataTransfer.files
      if (!files.length) {
        return
      }

      for(var i = 0;i < files.length;i++) {
        if (!files[i]['type'].match(/.(jpg|jpeg|png|gif)$/i)) {
          imageNotMatch++;
        }
        this.createImage(files[i]);
  		this.postImages.push(files[i]);
      }
    },
    createImage (file) {
      var reader = new FileReader()
      var vm = this
      reader.onload = (e) => {
        vm.post.images.push(e.target.result);
      }
      reader.readAsDataURL(file)
    },
    deleteEvent: function(index) {
      this.post.images.splice(index, 1);
      console.log(this.profilePic);
    }
  }
}
</script>

<style lang="css" scoped>
.postBoxArea {
    border: 1px solid #ddd;
    box-shadow: 0px 0px 3px #ddd;
}
.postBoxArea > textarea{ 
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.filsShow > div {
    max-width: 25%;
    display: inline-block;
    min-height: 40px;
    max-height: 50px;
}
.fileUploadParent {
    margin-top: 10px;
    position: relative;
    display: inline-block;
    z-index: 0;
}
.fileUploadParent .imageUpload{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    opacity: 0;
    z-index: 10;
}
.fileUploadParent i{}
.fileUploadParent span{}
</style>