<template>
	<div class="main-content-area overflow-fix">
		<single-group-post v-for="n in 5" :key="n"></single-group-post>
	</div>
</template>

<script>
import SingleGroupPost from './Single'
export default {

  name: 'GroupPostIndex',

  data () {
    return {

    }
  },
  components: {
  	SingleGroupPost,
  }
}
</script>

<style lang="css" scoped>
</style>