<template>
	<div class="single-poll-list-area overflow-fix">
		<single-poll v-for="n in 4" :key="n"></single-poll>
	</div>
</template>

<script>
import singlePoll from './SinglePoll'
export default {

  name: 'Poll',

  data () {
    return {

    }
  },
  components: {
  	singlePoll,
  }
}
</script>

<style lang="css" scoped>
</style>