<template>
	<div class="whats-your-mind-single-post overflow-fix">
		<post-action></post-action>
		<post-user></post-user>
		<post-content></post-content>
		<polls></polls>
	  	<post-activity></post-activity>
	    <div class="box comment-box-area overflow-fix">
	        <a href="">
	        	<p class="prev-comment">Show previous comments</p>
	        </a>
	        <comments></comments>
	    </div>
	</div>
</template>

<script>

import PostAction from '../../../post/PostAction'
import PostUser from '../../../post/PostUser'
import PostContent from '../../../post/PostContent'
import Polls from './Poll'
import PostActivity from '../../../post/PostActivity'
import Comments from '../../../post/comment/Comments'
export default {

  name: 'SingleGroupPost',

  data () {
    return {

    }
  },
  components: {
  	PostAction,
  	PostUser,
  	PostContent,
  	Polls,
  	PostActivity,
  	Comments,
  }
}
</script>

<style lang="css" scoped>
</style>