<template>
	<div class="single-poll-list">
		<div class="row">
			<div class="col-9">
				<label class="my-check-box">
				  <input type="checkbox">
				  <span class="checkmark"></span>
				  <span>O-</span>
				</label>
			</div>
			<div class="col-3">
				<form method="post">
					<button class="voteBtn">
						Vote<span>562</span>
					</button>
				</form>
				
			</div>
		</div>
	</div>
</template>

<script>
export default {

  name: 'SinglePoll',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
.voteBtn {
	background-color: #00aeef;
	color: #fff;
	font-size: 14px;
	border: 1px solid #00aeea;
}
</style>