<template>
<div>
	<div class="user-profile-area overflow-fix">
		<div class="user-profile-cover-photo-area overflow-fix">
			<a href=""><img src="/images/cover.png"/></a>
			<div class="user-profile-picurt-area overflow-fix">
				<a href=""><img src="/images/profile.png"/></a>
			</div>
		</div>
		<div class="user-profile-info-area overflow-fix">
			<a href=""><h2> {{ userInfo.basic_info.first_name +' '+ userInfo.basic_info.last_name }}</h2></a>
			<p>Director & Head of News</p>
			<a href=""><span>Impress Telifilm Ltd</span></a>
		</div>
		<div class="user-profile-ratiing-area overflow-fix user_rating">
			<star-rating
				v-model="rating"
				:increment="1"
				@rating-selected ="setRating"
				active-color="#00aeef"
				text-class="rating-text"
				:star-size="13"></star-rating>
		</div>
	</div>
	<div class="user-profile-post-flow-floing-area overflow-fix background-white d-flex justify-content-between">
		<div class="user-profile-post-flow-floing-single-area overflow-fix">
			<p>Posts</p>
			<span>13</span>
		</div>
		<div class="user-profile-post-flow-floing-single-area overflow-fix">
			<p>Followers</p>
			<span>169</span>
		</div>
		<div class="user-profile-post-flow-floing-single-area overflow-fix">
			<p>Following</p>
			<span>25</span>
		</div>
	</div>
	<div class="user-profile-social-area overflow-fix background-white">
		<div class="row">
			<div class="col-6">
			<form @submit.prevent="storeFollow" method="POST">
				<button type="submit" class="btn btn-sm btn-block btn-info">
					<b>Connect</b></button>
			</form>
			</div>
			<div class="col-6">
				<a href="" class="btn btn-sm btn-block btn-info">Message</a>
			</div>
		</div>
	</div>
	<div class="user-profile-social-area overflow-fix background-white">	
		<h2 class="wid-get-title">On the social</h2>
		<ul>
			<li v-for="link,index in userInfo.contact" :key="index">
				<a :href="link.link">
					<i class="fa" 
						:class="link.type.icon" 
						:style="{ color: '#'+link.type.color }"
						aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</div>
	<div class="user-profile-awards-area overflow-fix background-white">	
		<h2 class="wid-get-title">Awards</h2>
		<ul class="d-flex align-items-left">
			<li v-for="award,index in userInfo.awards" :key="index">
				<a :href="award.link">
					<h4>{{award.title}}</h4>
					<p>Honered At {{award.award_date}}</p>
					<img src="/images/ward-1.png"/>
				</a>
			</li>
		</ul>
	</div>
	<div class="user-profile-certificate-area overflow-fix background-white">	
		<h2 class="wid-get-title">Certificate</h2>
		<ul class="d-flex align-items-left">
			<li><a href=""><img src="/images/cerfied-1.png"/></a></li>
			<li><a href=""><img src="/images/cerfied-2.png"/></a></li>
		</ul>
	</div>
	<div class="user-profile-member-since-area overflow-fix background-white">	
		<p>Member Since:<span> {{ userInfo.created_at }}</span></p>
	</div>
</div>
</template>

<script>
import StarRating from 'vue-star-rating'
export default {

  name: 'BasicInfobar',
  props: ['user'],
  data () {
    return {
    	userInfo: {
    		basic_info: {},
    	},
    	rating: 3
    }
  },
  components: {
	StarRating
  },
  created (){
  	axios.get('/user/'+ this.user +'/profile')
  	.then((response) => {
  		this.userInfo = response.data
		console.log(response);
    }).catch(function (error) {
 	 	console.log(error)
    });
  },
  methods: {
  	setRating (rating){
  		this.rating = rating;
  		axios.post('/user/'+this.user+'/rate', {'rate':this.rating})
  			.then((response) => {
	          console.log(response);
	        }).catch(function (error) {
	          console.log(error)
	        });
  	},
  	storeFollow (){
  		axios.post('/network/'+this.user+'/store')
  			.then((response) => {
	          console.log(response);
	        }).catch(function (error) {
	          console.log(error)
	        });
  	}
  }
}
</script>

<style lang="css">
.vue-star-rating {
	align-items: center;
	justify-content: center;
}
.rating-text {
    font-size: 13px;
    color: #00aeef;
    padding: 1px;
    margin-top: 0 !important;
    font-weight: bold;
}
</style>