/*
GOOGLE FONTS CDN
--------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

/*
GOOGLE FONTS
--------------------------------------------------------------------*/
@font-face {
    font-family                     : 'Montserrat', sans-serif;
    src                             : url('fonts/font/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family                     : 'Montserrat', sans-serif;
    src                             : url('fonts/font/Montserrat-Medium.ttf') format('truetype');
}

/* ==========================================================================
BASE STYLES: 
=============================================================================*/
html{
    margin                          : 0;
    padding                         : 0;
    height                          : 100%;
    color                           : #e9ecef;
    background-color                : #e7ebef;
    font-size                       : 14px;
    line-height                     : 1.5;
    -webkit-box-sizing              : border-box;
    -moz-box-sizing                 : border-box;
    -ms-box-sizing                  : border-box;
    -o-box-sizing                   : border-box;
    box-sizing                      : border-box;
}
body {
    margin                          : 0;
    padding                         : 0;
    height                          : 100%;
    color                           : #414141;
    font-family                     : 'Montserrat', sans-serif;
    font-size                       : 14px;
    line-height                     : 21px;
    font-weight                     : 400;
    background-color                : #e7ebef;
    -webkit-text-size-adjust        : 100%;
    -webkit-overflow-scrolling      : touch;
    -webkit-font-smoothing          : antialiased !important;
}
*, 
*:before, 
*:after {
    -webkit-box-sizing              : border-box;
    -moz-box-sizing                 : border-box;
    -ms-box-sizing                  : border-box;
    -o-box-sizing                   : border-box;
    box-sizing                      : inherit;
}

hr {
    display    		                : block;
    height     		                : 1px;
    border     		                : 0;
    border-top 		                : 1px solid #cccccc;
    margin     		                : 0;
    padding    		                : 0;
}

/*
   * Remove the gap between images, videos, audio and canvas
*/

audio,
canvas,
img,
video {
    vertical-align                  : middle;
}

a,
a:active,
a:focus,
a:active {
    text-decoration                 : none !important;
    outline                         : none
}

a {
    color                           : #304ffe;
    font-size                       : 14px;
    font-family                     : 'Montserrat', sans-serif;
    font-weight                     : 400;
    text-decoration                 : none;
    -webkit-transition              : all 1s ease;
    -moz-transition                 : all 1s ease;
    -ms-transition                  : all 1s ease;
    -o-transition                   : all 1s ease;
    transition                      : all 1s ease;
}

a:hover,
a:focus {
    color                           : #ffffff;
    text-decoration                 : underline;
    font-weight                     : normal;
    -webkit-transition              : all 0.2s ease 0s;
    -moz-transition                 : all 0.2s ease 0s;
    -ms-transition                  : all 0.2s ease 0s;
    -o-transition                   : all 0.2s ease 0s;
    transition                      : all 0.2s ease 0s;
}

ul {
    margin     		                : 0 !important;
    padding    		                : 0 !important;
    list-style 		                : none;
}

figure {
    text-align                      : center;
}

figcaption{
	color                           : #ED1C24;
	font-family                     : ;
	font-size                       : 18px;
	font-weight                     : 700;
}

label{
	color                           : #40444a;
	font-size                       : 14px;
	font-family                     : 'Montserrat', sans-serif;
    font-weight                     : 400;
	margin                          : 0px;
}

textarea:focus, 
input:focus {
    color                           : #cccccc;
}

input, 
select, 
textarea {
    color                           : #cccccc;
    font-family                     : 'Montserrat', sans-serif;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color                           : #cccccc !important;
    opacity                         : 0.7;
    font-size                       : 12px;
    font-family                     : 'Montserrat', sans-serif;
    letter-spacing                  : 0;
}
 
input:-moz-placeholder,
textarea:-moz-placeholder { /* Firefox 18- */
    color                           : #cccccc !important;
    opacity                         : 0.7;
    font-size                       : 12px;
    font-family                     : 'Montserrat', sans-serif;
    letter-spacing                  : 0;  
}
 
input::-moz-placeholder,
textarea::-moz-placeholder {  /* Firefox 19+ */
    color                           : #cccccc !important;
    opacity                         : 0.7;
    font-size                       : 12px;
    font-family                     : 'Montserrat', sans-serif;
    letter-spacing                  : 0;  
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {  
    color                           : #cccccc !important;
    opacity                         : 0.7;
    font-size                       : 12px;
    font-family                     : 'Montserrat', sans-serif;
    letter-spacing                  : 0;  
}

input:-o-input-placeholder,
textarea:-o-input-placeholder {  
    color                           : #cccccc !important;
    opacity                         : 0.7;
    font-size                       : 12px;
    font-family                     : 'Montserrat', sans-serif;
    letter-spacing                  : 0;  
}

footer, 
footer a,
footer i {
    color                           : #9F9F9F;
}

/*
TYPOGRAPHY:
-----------------------------------------------------*/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin                          : 0 !important;
    padding                         : 0 !important;
    color                           : #ffffff; 
    font-family                     : 'Montserrat', sans-serif;
}

p {
    font-size                       : 16px;
    font-family                     : 'Montserrat', sans-serif;
}
/*
GLOBAL CLASS DESIGN FOR ALL PAGES:
-----------------------------------------------------*/
.clearfix:after {
    visibility                      : hidden;
    display                         : block;
    font-size                       : 0;
    content                         : " ";
    clear                           : both;
    height                          : 0;
}
.clearfix {
    display                         : inline-block;
}
* html .clearfix {
    height                          : 1%;
}
.clearfix {
    display                         : block;
}

.img {
    width                           : 100%;
}

.affix-top {
    position                        : relative;
}

.affix {
    top                             : 20px;
}
.affix, 
.affix-bottom {
    width                           : 213px;
}

.affix-bottom {
    position                        : absolute;
}
.autocomplete-input{
    width: 80%;
    margin-right: 139px;
    padding: 5px 15px 6px;
    border: 1px solid #3479b7;
}
.autocomplete.autocomplete-list {
    width: 79.7%;
    text-align: left;
    left: 10px;
    padding: 15px;
    position: absolute;
    top: 68%;
    background: #fff;
    box-shadow: 0 2px 5px #aaa;
}
.autocomplete.autocomplete-list ul li a{
    color: #333;
}
/* ==========================================================================
MAIN PAGE: 
=============================================================================*/
/*
HEADER DESIGN :
-----------------------------------------------------*/
.main-logo{
    margin-top: 18px;
}
.info-container-top{
    margin-top: 15px;
    background-color: #fff;
}
.info-container-top .breadcrumb {
    background-color: #fff;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.info-container-top .btn-area {
    padding: 15px;
}
.info-container-top .btn-area .btn{
    background-color: #344ffe;
}
.margin-bottom {
    margin-bottom: 15px;
}
.modal-dialog {
    background-color: #fff;
}
#header{
    padding                         : 0;
    background-color                : #ffe082;
    -webkit-box-shadow              : 0px -3px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow                 : 0px -3px 20px 0px rgba(0,0,0,0.5);
    -ms-box-shadow                  : 0px -3px 20px 0px rgba(0,0,0,0.5);
    -o-box-shadow                   : 0px -3px 20px 0px rgba(0,0,0,0.5);
    box-shadow                      : 0px -3px 20px 0px rgba(0,0,0,0.5);
}
#header .navbar-brand {
    padding                         : 0px 0px;
    height                          : auto;
}
.sign-in {
    float                           : right;
}
.sign-in>li {
    float                           : left;
    padding-left                    : 30px;
}
.sign-in>li>i {
    color                           : #2f4efb;
    line-height                     : 60px;
}

#amder-somoy-dashboard.navbar-nav>li:first-child {
    margin-left: 0;
}
#amder-somoy-dashboard.navbar-nav>li:last-child {
    margin-right: 0;
}
#amder-somoy-dashboard.navbar-nav>li {
    margin-left: 15px;
    margin-right: 15px;
}
#amder-somoy-dashboard.navbar-nav>li>a,
#amder-somoy-dashboard.navbar-nav>li>a:hover,
#amder-somoy-dashboard.navbar-nav>li>a:focus {
    padding: 0;
    color: #304ffe;
    background-color: transparent;
}
.amder-somoy-dashboard.dropdown-menu {
    min-width: 230px;
    padding: 0 20px !important;
    border: 1px solid #ffffff;
    border-radius: 0
}
.amder-somoy-dashboard.dropdown-menu>li {
    padding: 15px 0px;
    border-bottom: 1px solid #ccc;
}
.amder-somoy-dashboard.dropdown-menu>li:last-child {
    border-bottom: 0
}
.amder-somoy-dashboard.dropdown-menu>li>a,
.amder-somoy-dashboard.dropdown-menu>li>a:hover,
.amder-somoy-dashboard.dropdown-menu>li>a:focus {
    padding: 0px 0px;
    background-color: transparent;

}
@media (min-width: 768px) {
    #cfhNavbar .navbar-right {
    }
}
@media screen and (max-width: 767px) {
}
/*
CONTETNT DESIGN :
-----------------------------------------------------*/
.active {
    /*color                           : #ffffff !important;*/
}
.grid-col-1 {
    background-color                : #ffffff;
    -webkit-box-shadow              : 8px 3px 15px -9px rgba(0,0,0,0.5);
    -moz-box-shadow                 : 8px 3px 15px -9px rgba(0,0,0,0.5);
    -ms-box-shadow                  : 8px 3px 15px -9px rgba(0,0,0,0.5);
    -o-box-shadow                   : 8px 3px 15px -9px rgba(0,0,0,0.5);
    box-shadow                      : 8px 3px 15px -9px rgba(0,0,0,0.5);
}
.grid-col-1,
.grid-col-2 {
    height                          : 899px;
    background-color                : #ffffff;
    -webkit-box-shadow              : inset 1px 0px 4px rgba(0,0,0,.5);
    -moz-box-shadow                 : inset 1px 0px 4px rgba(0,0,0,.5);
    -ms-box-shadow                  : inset 1px 0px 4px rgba(0,0,0,.5);
    -o-box-shadow                   : inset 1px 0px 4px rgba(0,0,0,.5);
    box-shadow                      : inset 1px 0px 4px rgba(0,0,0,.5);
}
.option {
    margin-right                    : -15px;
    margin-left                     : -15px;
}
.option-list {
    text-align                      : center;
}
.option-list li a{
    display                         : block;
    max-height                      : 84px;
    padding                         : 30px 0;
}
.option-list li a:hover,
.option-list li a:focus {
    padding                         : 30px 0;
    background-color                : #2f4efb;
    cursor                          : pointer;
}
.option-list li i {
    color                           : #2f4efb;
    font-size                       : 24px;
}
.option-list li a:hover i,
.option-list li a:focus i {
    color                           : #ffffff;
    font-size                       : 24px;
}
.menu {
    margin-right                    : -15px;
    margin-left                     : -15px;
}
.menu-list li {
    display                         : none;
}
.menu-list li a{
    display                         : block;
    max-height                      : 84px;
    padding                         : 30px 15px 30px 15px;
    background-color                : #2f4efb;
    color                           : #ffffff;
    font-size                       : 24px;
}
.menu-list li a:hover,
.menu-list li a:focus {
    color                           : #ffffff;
    font-size                       : 24px;
}

/* ==========================================================================
DASHBOARD PAGE: 
=============================================================================*/
/*
CONTETNT DESIGN :
-----------------------------------------------------*/
.d-option {
    margin-right                    : -15px;
    margin-left                     : -15px;
}
.d-option-list {
    text-align                      : center;
}
.d-option-list li a{
    display                         : block;
    padding                         : 30px 0;
    display                         : block;
    color                           : #304ffe;
    font-size                       : 14px;
}
.d-option-list li {
    position: relative;
}
.d-option-list li:hover {
    background-color                : #2f4efb;
    cursor                          : pointer;
    color                           : #ffffff;
    font-size                       : 14px;
    font-weight                     : 400;
}
.d-option-list li:hover a {
    color                           : #ffffff;
    font-size                       : 14px;
    font-weight                     : 400;
    -webkit-transition              : all 0s ease;
    -moz-transition                 : all 0s ease;
    -ms-transition                  : all 0s ease;
    -o-transition                   : all 0s ease;
    transition                      : all 0s ease;
}
.img-hover {
    display                         : none;
}
.d-option-list li:hover .img-block,
.d-option-list li:focus .img-block {
    display                         : none;
}
.d-option-list li:hover .img-hover,
.d-option-list li:focus .img-hover {
    display                         : initial;
}
.sub-menu-list,
.menu-list-1,
.menu-list-2,
.menu-list-3,
.menu-list-4,
.menu-list-5,
.menu-list-6 {    
    display: none;
    position: absolute;
    left: 0%;
    z-index: 10;
    width: 200px;
    top: 0;
    background-color: #243cc5;
    min-height: 100%;
    border-top: 6px solid #e6ba22;
    -webkit-transition: 0.8s;
    transition: 0.8s;
}
.d-option-list li:hover .sub-menu-list {
    display: block;
    left: 100%;
    -webkit-transition: 0.8s;
    transition: 0.8s;
}
.sub-menu-list li,
.menu-list-1 li,
.menu-list-2 li,
.menu-list-3 li,
.menu-list-4 li,
.menu-list-5 li,
.menu-list-6 li {    
    display: block;
    padding: 0;
    color: #ffffff;
    text-align: left;
}
.sub-menu-list li p,
.menu-list-1 li p,
.menu-list-2 li p,
.menu-list-3 li p,
.menu-list-4 li p,
.menu-list-5 li p,
.menu-list-6 li p {
    background-color: #2f4efb;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 15px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid #1d39d8;
}
.sub-menu-list li a,
.menu-list-1 li a,
.menu-list-2 li a,
.menu-list-3 li a,
.menu-list-4 li a,
.menu-list-5 li a,
.menu-list-6 li a {
    color: #ffffff;
    opacity: 1;
    padding: 8px 15px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    border-left: 3px solid transparent;
}
.sub-menu-list li a:hover,
.menu-list-1 li a:hover,
.menu-list-2 li a:hover,
.menu-list-3 li a:hover,
.menu-list-4 li a:hover,
.menu-list-5 li a:hover,
.menu-list-6 li a:hover,
.menu-list-1 li a:focus,
.menu-list-2 li a:focus,
.menu-list-3 li a:focus,
.menu-list-4 li a:focus,
.menu-list-5 li a:focus,
.menu-list-6 li a:focus {
    color                           : #ffffff;
    border-left                     : 3px solid #f44336;
}
.sub-active {
    color                           : #ffffff !important;
    opacity                         : 1 !important;
    font-size                       : 15px !important;
    border-left                     : 3px solid #f44336 !important;
    padding: 8px 15px;
}

/*
GRID-COL-3 :
-----------------------------------------------------*/
#user-lis,
#block-user-list,
#emergency-service,
#video-list,
#audio-list,
#poll-list,
#group-list,
#sub-group-list,
#advertisement {
    display:;
}
.info-container {
    margin-left                     : 0px;
    margin-top                      : 15px;
    padding-top                     : 25px;
    padding-right                   : 20px;
    padding-bottom                  : 25px;
    padding-left                    : 20px;
    background-color                : #ffffff;
}
.info-table .dataTables_wrapper .dataTables_length {
    float                           : initial;
    margin-bottom                   : 15px;
}
.info-table .dataTables_wrapper .dataTables_filter {
    float                           : initial;
    text-align                      : initial;
}
.info-table #example_wrapper #example_length input, select, textarea {
    color                           : #40444a;
    font-family                     : 'Montserrat', sans-serif;
}
#example_length label,
#example_filter label {
    color                           : #40444a;
    font-size                       : 14px;
    font-family                     : "Montserrat", sans-serif;
    font-weight                     : 500;
}
.info-table .dataTables_wrapper .dataTables_length label select {
    padding                         : 4px 16px;
    border                          : 1px solid #304ffe;
    outline                         : 0;
}
.info-table .dataTables_wrapper .dataTables_filter {
    margin-bottom                   : 15px;
}
.info-table .dataTables_wrapper .dataTables_filter label {
    width                           : 100%;
}
#example_filter label input {
    width                           : 100%;
    margin-left                     : 0;
    padding                         : 10px 12px;
    background-color                : #304ffe;
    color                           : rgba(255,255,255,0.7);
    border                          : 1px solid #304ffe;
    outline                         : 0;
    border-radius                   : 6px;
}
.info-table .checkbox, .radio {
    position                        : relative;
    display                         : block;
    margin-top                      : 0px !important;
    margin-bottom                   : 0px !important;
}
.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
    padding                         : 8px 4px;
    line-height                     : 1.42857143;
    vertical-align                  : top;
}
.table>thead>tr>th {
    border-bottom                   : 1px solid #dddddd;
    /*margin                          : 11px 0px;*/
    color                           : #304ffe;
    font-size                       : 14px;
    font-family                     : 'Montserrat', sans-serif;
    font-weight                     : 500;
}
.table>tbody>tr>td>.checkbox, 
.table>tbody>tr>td>.radio {
    position                        : relative;
    display                         : block;
    margin-top                      : 0px !important;
    margin-bottom                   : 0px !important;
}
.table>tbody>tr>td {
    /*margin                          : 14px 0px;*/
    color                           : #40444a;
    font-size                       : 14px;
    font-family                     : 'Montserrat', sans-serif;
    font-weight                     : 500;
}
.footer-th-hidden{
    width: 0 !important;
    opacity: 0;
}
.footer-th-hidden select {
    width: 0;
}
.info-table tfoot tr th select {
    padding: 4px 16px;
    border: 1px solid #304ffe;
    outline: 0;
}
.warning {
    padding                         : 0;
    margin-right                    : 5px;
    color                           : #fdd87c;
    cursor                          : pointer;
}
.block {
    padding                         : 0;
    margin-right                    : 5px;
    color                           : red;
    cursor                          : pointer;
}
.edit {
    padding                         : 0;
    margin-right                    : 5px;
    color                           : green;
    cursor                          : pointer;
}
.del {
    padding                         : 0;
    color                           : red;
    cursor                          : pointer;
}
#message-text {
    color: rgba(0,0,0,0.5);
}
.dataTables_wrapper .dataTables_info {
    clear                           : both;
    float                           : initial;
    display                         : none;
}
table.dataTable tfoot th, 
table.dataTable tfoot td {
    border                          : 0;
}
.info-table>#example_wrapper>.table>tfoot>tr>th>input,
.info-table>#example_wrapper>.table>tfoot>tr>th>input:hover,
.info-table>#example_wrapper>.table>tfoot>tr>th>input:focus {
    padding                         : 8px 8px;
    border                          : 1px solid #304ffe;
    outline                         : 0;
    color                           : #000;
}
.info-table>#example_wrapper>.table>tfoot>tr>th>input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color                           : #000000 !important;
    opacity                         : 0.7;
    font-size                       : 12px;
    font-family                     : 'Montserrat', sans-serif;
    letter-spacing                  : 0;
}
 
.info-table>#example_wrapper>.table>tfoot>tr>th>input:-moz-placeholder { /* Firefox 18- */
    color                           : #000000 !important;
    opacity                         : 0.7;
    font-size                       : 12px;
    font-family                     : 'Montserrat', sans-serif;
    letter-spacing                  : 0;  
}
 
.info-table>#example_wrapper>.table>tfoot>tr>th>input::-moz-placeholder {  /* Firefox 19+ */
    color                           : #000000 !important;
    opacity                         : 0.7;
    font-size                       : 12px;
    font-family                     : 'Montserrat', sans-serif;
    letter-spacing                  : 0;  
}

.info-table>#example_wrapper>.table>tfoot>tr>th>input:-ms-input-placeholder {  
    color                           : #000000 !important;
    opacity                         : 0.7;
    font-size                       : 12px;
    font-family                     : 'Montserrat', sans-serif;
    letter-spacing                  : 0;  
}

.info-table>#example_wrapper>.table>tfoot>tr>th>input:-o-input-placeholder {  
    color                           : #000000 !important;
    opacity                         : 0.7;
    font-size                       : 12px;
    font-family                     : 'Montserrat', sans-serif;
    letter-spacing                  : 0;  
}
.dataTables_wrapper .dataTables_paginate {
    float                           : initial;
    text-align                      : center;
    padding-top                     : 0.25em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing                      : border-box;
    display                         : inline-block;
    min-width                       : auto;
    padding                         : 1px 1px;
    margin-left                     : 10px;
    text-align                      : center;
    text-decoration                 : none !important;
    cursor                          : pointer;
    color                           : #40444a !important;
    font-size                       : 14px;
    font-family                     : 'Montserrat', sans-serif;
    font-weight                     : 500;
    border                          : 0 ;
    border-bottom                   : 2px solid transparent;
    border-radius                   : 2px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color                           : #304ffe !important;
    border                          : 0;
    border-bottom                   : 2px solid #304ffe;
    background-color                : #ffffff;
    background                      : initial !important;
    background                      : initial !important;
    background                      : initial !important;
    background                      : initial !important;
    background                      : initial !important;
    background                      : initial !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color                           : #304ffe !important;
    border                          : 0;
    border-bottom                   : 2px solid #304ffe;
    background                      : initial !important;
    background                      : initial !important;
    background                      : initial !important;
    background                      : initial !important;
    background                      : initial !important;
    background                      : initial !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color                           : #304ffe !important;
    border                          : 0;
    border-bottom                   : 2px solid #304ffe;
    background-color                : #ffffff;
    background                      : initial !important;
    background                      : initial !important;
    background                      : initial !important;
    background                      : initial !important;
    background                      : initial !important;
    background                      : initial !important;
}
@media (min-width: 768px){
    .modal-dialog {
        width                       : 65%;
        margin                      : 12% auto;
    }
}
.modal-content {
    position                        : relative;
    background-color                : #fff;
    -webkit-background-clip         : padding-box;
    background-clip                 : padding-box;
    border                          : 1px solid rgba(0,0,0,.2);
    border-radius                   : 0px;
    outline                         : 0;
    -webkit-box-shadow              : 0 3px 9px rgba(0,0,0,.5);
    -moz-box-shadow                 : 0 3px 9px rgba(0,0,0,.5);
    -ms-box-shadow                  : 0 3px 9px rgba(0,0,0,.5);
    -o-box-shadow                   : 0 3px 9px rgba(0,0,0,.5);
    box-shadow                      : 0 3px 9px rgba(0,0,0,.5);
}
.modal-header {
    background-color                : #304ffe;
    border-bottom                   : 0;
}
.close {
    float                           : right;
    font-size                       : 21px;
    line-height                     : 1;
    color                           : #fff;
    font-weight                     : 400;
    text-shadow                     : 0 1px 0 #fff;
    filter                          : alpha(opacity=1);
    opacity                         : 1;
}
.close:focus, 
.close:hover {
    color                           : #ffffff;
    text-decoration                 : none;
    cursor                          : pointer;
    filter                          : alpha(opacity=1);
    opacity                         : 1;
}
.close span {
    color                           : #ffffff;
    font-size                       : 27px;
}
.modal-header h5 {
    color                           : #ffffff;
    font-size                       : 16px;
    text-align                      : center;
}
.modal-body .form-control {
    border                          : 1px solid #304ffe;
    border-radius                   : 0;
}
.modal-footer {
    border-top                      : 0;
    text-align                      : left;
}
.modal-footer .btn {
    padding                         : 5px 44px;
    color                           : #ffffff;
    font-size                       : 16px;
    font-weight                     : 400;
    border                          : 1px solid #304ffe;
    border-radius                   : 0;
    background-color                : #304ffe;
}
/*
LOGIN PAGE :
-----------------------------------------------------*/
#login,
#forgot-password,
#new-password {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%

}
.login label,
.forgot-password label {
    margin-bottom: 5px;
    font-weight: 500
}
.login input,
.forgot-password input {
    color: #000 !important;
}
.btn-login,
.btn-login:hover,
.btn-login:focus {
    width: 100%;
    min-height: 34px;
    margin-top: 5px;
    padding: 6px 12px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #304ffe
}
.forgot-pass {
    float: right;
}
#forgot-password,
#new-password {
    display: none;
}
#forgot-password h3,
#new-password h3 {
    margin-bottom: 10px !important;
    color: #304ffe;
    font-weight: 600;
    text-align: center;
}
#forgot-password p,
#new-password p {
    margin-bottom: 35px !important;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}
.resend button {
    margin-top: 15px;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #40444a
}
/*
EMERGENCY SERVICE DESIGN :
-----------------------------------------------------*/
.em-dropdown .form-group .form-control {
    display                         : block;
    width                           : 100%;
    height                          : 40px;
    padding                         : 6px 12px;
    font-size                       : 14px;
    line-height                     : 1.42857143;
    color                           : #ffffff;
    font-weight                     : 700;
    background-color                : #304ffe;
    background-image                : none;
    border                          : 1px solid #304ffe;
    border-radius                   : 4px;
    -webkit-box-shadow              : inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow                      : inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition              : border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition                   : border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition                      : border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#emergency-service>.info-table>.table>tbody>tr>td, 
#emergency-service>.info-table>.table>tbody>tr>th {
    border-top                      : 0;
    border-bottom                   : 1px solid #dddddd;
}
.em-btn {
    text-align                      : right;
}
.em-btn button,
.em-btn button:hover,
.em-btn button:focus {
    padding                         : 6px 40px;
    height                          : 40px;
    color                           : #ffffff;
    background-color                : #304ffe;
    border                          : 1px solid #304ffe;
    outline                         : 0;
}
/*
VIDEO-LIST & AUDIO-LIST DESIGN :
-----------------------------------------------------*/
.add-btn {
    position                        : absolute;
    right                           : 35px;
    text-align                      : right;
    z-index                         : 11;
}
.add-btn button,
.add-btn button:hover,
.add-btn button:focus {
    padding                         : 6px 20px;
    height                          : 40px;
    color                           : #ffffff;
    background-color                : #304ffe;
    border                          : 1px solid #304ffe;
    outline                         : 0;
}
#video-list .search,
#audio-list .search {
    margin-top                      : 15px;
}
#vidUpModal input[type=file],
#audioUpModal input[type=file] {
    display                         : block;
    width                           : 240px;
    height                          : 40px;
    padding                         : 9px 20px;
    background-color                : #304ffe;
}
#vidUpModal .modal-body .ttl-btn,
#audioUpModal .modal-body .ttl-btn {
    height                          : 40px;
    padding                         : 6px 80px 6px 22px;
    color                           : #fff;
    font-weight                     : 500;
    border                          : 1px solid #304ffe;
    border-radius                   : 0;
    background-color                : #304ffe;
}
.ttl-input {
    height                          : 40px;
}
#vidUpModal .modal-body .upbtn,
#audioUpModal .modal-body .upbtn {
    width                           : 240px;
    height                          : 40px;
    border                          : 1px solid #304ffe;
    border-radius                   : 0;
    background-color                : #304ffe;
}
/*
POLL-LIST DESIGN :
-----------------------------------------------------*/
#poll-list .search {
    margin-top                      : 15px;
}
#pollUpModal .modal-body .ttl-btn {
    height                          : 40px;
    padding                         : 6px 80px 6px 22px;
    color                           : #fff;
    font-weight                     : 500;
    border                          : 1px solid #304ffe;
    border-radius                   : 0;
    background-color                : #304ffe;
}
.ttl-input {
    height                          : 40px;
}
#pollUpModal .modal-body .upbtn {
    width                           : 240px;
    height                          : 40px;
    border                          : 1px solid #304ffe;
    border-radius                   : 0;
    background-color                : #304ffe;
}
.create-poll .input-group .form-control {
    height                          : 40px;
}
.create-poll .input-group:nth-child(2),
.create-poll .input-group:nth-child(3) {
    margin-top                      : -1px;
}
.create-poll .input-group .input-group-addon {
    padding                         : 6px 12px;
    font-size                       : 14px;
    font-weight                     : 400;
    line-height                     : 1;
    color                           : #555;
    text-align                      : center;
    background-color                : #ffffff;
    border                          : 1px solid #304ffe;
    border-right                    : 1px solid transparent;
    border-radius                   : 0;
}
/*
GROUP-LIST DESIGN :
-----------------------------------------------------*/
#group-list .search,
#sub-group-list .search {
    margin-top                      : 15px;
}
#group-list>.info-table>.table>tbody>tr>td>img {
    padding                         : 3px 0;
}
.view {
    padding                         : 0;
    margin-right                    : 5px;
    color                           : #161616;
    cursor                          : pointer;
}
#crt-grpUpModal input[type=file],
#subgrpUpModal input[type=file] {
    display                         : block;
    width                           : 240px;
    height                          : 40px;
    padding                         : 9px 20px;
    background-color                : #304ffe;
}
#crt-grpUpModal .modal-body .ttl-btn {
    height                          : 40px;
    padding                         : 6px 80px 6px 22px;
    color                           : #fff;
    font-weight                     : 500;
    border                          : 1px solid #304ffe;
    border-radius                   : 0;
    background-color                : #304ffe;
}
.ttl-input {
    height                          : 40px;
}
#crt-grpUpModal .modal-body .upbtn,
#subgrpUpModal .modal-body .upbtn {
    width                           : 240px;
    height                          : 40px;
    border                          : 1px solid #304ffe;
    border-radius                   : 0;
    background-color                : #304ffe;
}
#subgrpUpModal .modal-body .ttl-btn {
    height                          : 40px;
    padding                         : 6px 57px 6px 22px;
    color                           : #fff;
    font-weight                     : 500;
    border                          : 1px solid #304ffe;
    border-radius                   : 0;
    background-color                : #304ffe;
}
.form-control-label {
    margin-bottom: 15px;
    padding: 0px 7px;
    color: #304ffe;
    background-color: #ffffff;
    font-weight: bold;
    line-height: 20px;
    border-left: 4px solid #304ffe;
}
.modalBtn {
    background-color: #304ffe;
    padding: 7px 15px;
}
.modalBtn:hover{
    background-color: #2336a0;
    padding: 7px 15px;
}
.btn-container {
    display                         : table;
    width                           : 100%;
}
.btn-1 {
    display                         : table-cell;
    width                           : 190.5px;
    max-width                       : 240px;
    height                          : 40px;
    padding                         : 8px 60px 8px 22px;
}
.btn-2,
.btn-2:hover,
.btn-2:focus {
    display                         : table-cell;
    width                           : 655.84px;
    max-width                       : 655.84px;
    height                          : 40px;
    border-radius                   : 0 !important;
    background-color                : transparent !important;
    border                          : 1px solid #304ffe !important;
    text-align                      : right;
}
.sub-grp-form .form-group .btn-container .dropdown-menu {
    right                           : 0;
    left                            : auto;
    float                           : right;
}
/*
ADVERTISEMENT DESIGN :
-----------------------------------------------------*/
#advertisement .search {
    margin-top                      : 15px;
}
#advertisementUpModal .modal-body .ttl-btn {
    height                          : 40px;
    padding                         : 6px 80px 6px 22px;
    color                           : #fff;
    font-weight                     : 500;
    border                          : 1px solid #304ffe;
    border-radius                   : 0;
    background-color                : #304ffe;
}
.ttl-input {
    height                          : 40px;
}
#advertisementUpModal .modal-body .upbtn {
    width                           : 300px;
    height                          : 40px;
    border                          : 1px solid #304ffe;
    border-radius                   : 0;
    background-color                : #304ffe;
}
.adv-btn-container {
    display                         : table;
    width                           : 300px;
}
.adv-btn-1,
.adv-btn-2 {
    display                         : table-cell;
    width                           : 150px;
}
.adv-btn-1 {
    padding                         : 8px 8px 8px 8px;
    height                          : 40px;
}
.adv-btn-2,
.adv-btn-2:hover,
.adv-btn-2:focus {
    height                          : 41px;
    border                          : 1px solid #304ffe !important;
    background-color                : #ffffff !important;
    border-radius                   : 0;
    text-align                      : right !important;
}
.adv-btn-container .dropdown-menu {
    right                           : 0;
    left                            : auto;
    float                           : right;
}
#advertisementUpModal input[type=file] {
    display                         : block;
    width                           : 300px;
    height                          : 40px;
    padding                         : 9px 20px;
    background-color                : #304ffe !important;

}
/*
SCROLL-UP DESIGN :
-----------------------------------------------------*/
#scroll-up {
    position                        : fixed;
    display                         : none;
    right                           : 0;
    bottom                          : 0;
    z-index                         : 1000000;
}
#scroll-up a{
    display                         : block;
    width                           : 56px;
    height                          : 46px;
    background-color                : rgba(114,172,72,0.8);
    text-align                      : center;
    color                           : rgba(255,255,255,1);
    font-size                       : 20px;
    line-height                     : 40px;
    border                          : 2px solid;
    border-color                    : rgba(114,172,72,0.8);
}
#scroll-up a:hover {
    color                           : #ffffff;
    border-color                    : rgba(114,172,72,0.8);
}
/*
FOOTER PAGE :
-----------------------------------------------------*/
#footer {
    position: relative;
    float: left;
    width: 100%;
    padding: 25px 0;
    background-color: #ffffff
}
#footer p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px
}
/*
480PX DESIGN :
-----------------------------------------------------*/
@media screen and (max-width: 480px) {
}
/*
TAB RESPONSIVE DESIGN :
-----------------------------------------------------*
/*
DESKTOP RESPONSIVE DESIGN :
-----------------------------------------------------*
