@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-leave-active {
  transition: all .6s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to{
  transform: translateX(10px);
  opacity: 0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
/*---------------------------
Vue js modal syle 
----------------------------*/
.modal_popup {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 100000;
}
.modalPopupOverlayer {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: #30546782;
  z-index: 100; 
}
.modal_in {
  position: absolute;
  top: 20%;
  left: 25%;
  min-width: 50%;
  min-height: 60%;
  background-color: #fff;
  z-index: 101;
  padding: 0 15px;
}
.modal_header{
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.modal_header .header_left{
  text-align: left;
}
.modal_header .header_left h3{
  font-size: 14px;
  font-weight: bold;
}
.modal_header .header_left h3 i{    
  font-size: 25px;
    color: #2294d0;
    padding: 0 10px 0 0;
}
.modal_header .header_left h3 span{ 
  position: relative;
    margin: 0;
    font-size: 14px;
    background-color: transparent;
    color: #333;
}
.modal_header .header_close{
  text-align: right;
}
.modal_header .header_close button{
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.modal_body{

}
.modal_footer{}
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800');
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {

	font-size: 100%; 
	font-weight: inherit; 
	font-style: inherit; 
	vertical-align: baseline; 
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: 0;
	background: transparent;
	font-family: 'Roboto', sans-serif;
	list-style:none;
}


.select2-container, .select2-container span, .select2-results, .select2-results ul, .select2-results ul li {
		-webkit-transition:  0s;
	transition:  0s;
}

.o-right-padding{
  padding-right: 0 !important;
}
.o-lelt-padding{
  padding-left: 0 !important;
}

html,
body { 
	height: 100%
}
body {
	padding:0;
	margin:0;
	overflow-x:hidden;
	background-color:#e6ecf0;
	color:#082842;
}

/*==========================
 | Card styles
 *=========================*/
.card {
  min-height: 150px;
  margin-bottom: 15px;
  box-shadow: 0 1px 2px #ddd;
}

.card-img {
    height: 150px;
    overflow: hidden;
    margin-top: -1px;
    margin-left: -1px;
}

.card-img img {
  min-height: 150px;
}
.card-info-area{
  padding-left: 0;
  padding-top: 15px;
}
.card-info {
  background-color: #ffffff;
}
.card-info h2 {
    font-size: 16px;
    font-weight: bold;
    color: #1193cc;
    text-shadow: 0px 1px #838588;
}
.card-info .group-info {
  padding: 8px 0;
}
.card-info .group-info p {
    font-size: 14px;
    color: #444;
    margin: 3px 0;
}
.card-info .group-info p i {
    background-color: #17aef0;
    padding: 2px 4px;
    color: #fff;
    margin-right: 6px;
    width: 20px;
    text-align: center;
}
.card-info .group-info p span.number {
  font-weight: bold;
}
.card-info .group-info p span {}
.card-btn {
  position: relative;
}
.card-btn {}
.card-btn a{
    float: right;
    margin-top: -22px;
    padding: 0 15px;
    font-size: 14px;
    font-weight: bold;
}
.card-btn button{
  background: #ffffff;
    padding: 1px 15px 1px 8px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0;
    color: #17aef0;
    border: 2px solid #17aef0;
    cursor: pointer;
}
.card-btn button i{
  margin-right: 4px;
}

/*==========================
 | Developmetn css
 *=========================*/
.myNetworksArea > .row > .col-lg-3 {
  padding: 0;
}

.popup-select-option .select2 {
    width: 97% !important;
}

.popup-select-option  .select2-selection {
    border-radius: 0;
    border: 1px solid #e1e1e1;
    height: 35px;
}

.popup-select-option .select2-selection__rendered {
    font-size: 13px;
    margin-top: 3px;
}

.popup-select-option .select2-selection__arrow {
    margin-top: 3px;
}

.popup-select-option b {
    border-color: #000 transparent transparent transparent !important;
}

.general-area-popup-box-input:nth-child(4) .popup-select-option {
    float: left;
    width: 32.60%;
    margin-right: 5px;
}

.general-area-popup-box-input:nth-child(4) .popup-select-option:last-child {margin-right: 0;}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #0000000d;
    color: #000;
}

.select2-results__option {
    padding: 7px;
    font-size: 12px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background: #fff;
}

.select2-dropdown {
    border-radius: 0;
    border-color: #e1e1e1;
    border-top: 0 !important;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important; 
}
a {
    color:#082842;
}
a:focus,a:hover , a {
	text-decoration: none;
	outline: 0 solid;
	color:#082842;
}
img {
	max-width:100%;
    height: auto;
	
}
.table {
	margin:0;
}
table a {
    color: #0d9b49;
}
table a i {
    font-size: 14px !important;
}
thead {
    background: #ecf0f1;
}
thead tr th, tbody tr td, tbody tr th {
    font-size: 10px;
    font-weight: 600;
}
input:focus {
  outline-color: transparent;
  outline-style: none;
}
.table-bordered thead th, .table-bordered thead td {
	border-bottom-width: 1px;
}
.padding-o {
	padding:0;
}
.padding-to {
	padding:20px;
}

.margin-o {
	margin:0;
}
.margin-to {
	margin:20px;
}
.padding-ioo {
	padding:100px 0;
}
.padding-vo {
	padding:50px 0;
}
.position-relative{
	position:relative;
}
.overflow-fix  {
	float:left;
	width:100%;
	height:auto;
}
.silmple-btn a {
    border: 1px solid #003A6F;
    padding: 10px 30px;
    color: #fff;
    display: table;
    margin: 0 auto;
}
.css-perallax-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg-overlay-dark:before {
    background-color:rgba(0, 0, 0, 0.5);
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
}
/* text */
span.green-text {
    color: #0d9b49;
}

span.yalo-text {
    color: #ffaa00;
}

span.red-text {
    color: #ff0000;
}

/* scrollbar */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
	width: 9px;
	opacity:0;
}
::-webkit-scrollbar {
    width: 9px;
    background-color: #f1f1f1;
	opacity:0;
	
}
::-webkit-scrollbar-thumb {
    background-color: #00aeef;
	width: 9px;
	opacity:0;
}


/* Full Screen Section */
.full-hight-main-area, .full-hight-area, .full-hight-area div {
    height: 100%;
}
.full-hight-table {
    display: table;
}
.full-hight-tablecell {
    display: table-cell;
    vertical-align: middle;
}
.full-hight-tablecell, .full-hight-tablecell div {
    height: auto;
}

/* Section Title */

.section-title-heading h2 {
    font-size: 48px;
    color: #fff;
    font-family: motoroil;
    text-transform: uppercase;
	margin-bottom: 5px;
}
.section-title-content {
    color: #fff;
    font-family: elevation;
    margin-top: 15px;
}
/* Input Number */
.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 45px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 27px;
}
.quantity-button i {
	font-size: 6px;
}
.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #0d9b49;
  font-size: 9px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}
/* Ui slider */

	
.irs {
  height: 45px;
}

.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-bar-edge,
.irs-slider {
  background: red;
}

.irs-line,
.irs-bar,
.irs-bar-edge {
  height: 6px;
}

.irs-line {
    background: #E6E6E4;
    border-radius: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

.irs-bar,
.irs-bar-edge {
  background: #0d9b49;
  top: 0;
   border-radius: 2px;
}

.irs-bar-edge {
  width: 0px;
}

.irs-from,
.irs-to,
.irs-single,
.irs-min,
.irs-max {
  color: #fff;
  top: 20px;
  font-size: 0.875rem;
}

.irs-slider {
    width: 13px;
    height: 13px;
    top: -4px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
	box-shadow: 0px 0px 1px 0px;
}

/* Button */
.grren-btn {
    background: #0d9b49;
    color: #fff;
    text-transform: uppercase;
    height: 32px;
    display: block;
    margin: 0 auto;
    line-height: 30px;
    font-weight: 600;
    font-size: 13px;
    border-radius: 30px;
    box-shadow: 0px 2px 0px #08622e;
    text-align: center;
    border: 1px solid #0d9b49;
    cursor: pointer;
}

.content-bg {
    background: #ecf0f1;
    padding: 10px 10px;
    padding-top: 25px;
    padding-bottom: 50px;
    border-top: 1px solid #acacac38;
}

.page-highlight {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.box-white-bg {
    background: #fff;
    box-shadow: 0px 0px 5px 0px #0000002e;
}
.post-dropdwon-title-area {
    margin-bottom: 20px;
}
.post-button a {
    width: 120px;
    font-size: 11px;
}




/* Header Menu */
.main-header-area {
    background: #00aeef;
    color: #fff;
    padding-top: 5px;
    margin-bottom: 10px;
}
.client-menu-right ul li {
    display: inline-block;
}

.client-menu-right ul .overflow-icon a {
    position: relative;
}
.avaterBtn{
    padding-right: 0 !important;
}
.avaterDropdown {
  position: absolute;
  z-index: 1111;
  right: 15px;
}

.client-menu-right ul li a {
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    display: grid;
    background: transparent;
    padding: 0px 10px 0 5px;
}
.client-menu-right ul .overflow-icon a span:nth-child(2) {
    display: block;
    position: absolute;
    top: 2px;
    background: #f10000;
    font-size: 10px;
    border-radius: 3px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    right: 10px;
}
.single-modal-nofi {
    box-shadow: none;
    border-bottom: 1px solid #ebebeb;
    height: 55px;
    overflow: hidden;
}

.single-modal-nofi a {
    padding: 10px !important;
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    color: #000 !important;
    font-size: 12px !important;
}

.single-modal-nofi a img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.single-modal-nofi a p {
    text-align: left;
    overflow: hidden;
    font-size: 12px;
    padding-left: 10px;
    max-height: 38px;
}

.single-modal-nofi a p span {
    font-weight: 600;
    width: 100% !important;
    float: left;
}
.client-menu-right ul .overflow-icon .dropdown-menu {
    max-width: 300px;
    padding: 0;
    margin: 0 !important;
    border-radius: 3px !important;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #fff;
    border: 0;
    box-shadow: 0px 0px 7px 0px #00000069;
    top: -8px !important;
	position:relative;
}
.client-menu-right .single-modal-nofi:last-child {
    border: none;
}
.group-mamber-add-search {
    position: relative;
    width: 300px;
    background: transparent;
    border-radius: 30px;
    -ms-flex-item-align: center!important;
    align-self: center!important;
	margin-right: 30px;
}

.group-mamber-add-search i {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 13px;
    color: #000;
    background: #fff;
    border-radius: 0%;
    padding-top: 5px;
    padding-left: 10px;
    cursor: pointer;
}

.group-mamber-add-search input {
    width: 100%;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 0px 10px 0 15px;
    height: 35px;
    margin-top: -6px;
    font-size: 13px;
}
.group-mamber-add-search input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #2279a7;
  font-weight: bold;
}
.group-mamber-add-search input::-moz-placeholder { /* Firefox 19+ */
  color: #2279a7;
  font-weight: bold;
}
.group-mamber-add-search input:-ms-input-placeholder { /* IE 10+ */
  color: #2279a7;
  font-weight: bold;
}
.group-mamber-add-search input:-moz-placeholder { /* Firefox 18- */
  color: #2279a7;
  font-weight: bold;
}
.client-menu-right ul .overflow-icon .dropdown-menu:after {
    content: "";
    display: block;
    background: #fff;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -5px;
    transform: rotate(45deg);
    left: 35px;
}
.single-modal-nofi a h6 {
    margin-top: 13px;
    font-size: 11px;
    color: #444444;
}
.seel-abuton-menu a {
    color: #000 !important;
    padding: 0px !important;
    font-size: 13px !important;
    height: 35px;
    line-height: 35px;
}

.profile-pic-right {
    max-width: 41px;
}
.client-menu-right .single-modal-nofi {
	height: auto;
}
/* Header Menu End */

/* Menu Drop Down */


#my-new-menu > li{
  float:left;
  list-style-type:none;
  position:relative;
}
.my-new-menu-label{
  position:relative;
  display:block;
  /* transition:background 0.3s; */
  cursor:pointer;
}
.my-new-menu-label:hover, .my-new-menu-input:checked ~ .my-new-menu-label{}

/*hide the .my-new-menu-inputs*/
.my-new-menu-input{display:none}
/*show the second levele menu of the selected voice*/
.my-new-menu-input:checked ~ .my-new-menu-submenu {
    max-height: 100px;
   /*  transition: max-height 0.5s ease-in; */
    overflow-y: auto;
}
/*style for the second level menu*/
.my-new-menu-submenu{
  max-height:0;
  padding:0;
  overflow:hidden;
  list-style-type:none;
 /*  transition:max-height 0.5s ease-out; */
  position:absolute;
  min-width:100%;
}
.my-new-menu-submenu li a{
  display:table;
  color:#000;
  text-decoration:none;
  /* transition:background .3s; */
  white-space:nowrap;
}
/* Cehck box */
.custom-control-description {
    font-size: 14px;
    margin-left: 0px;
    letter-spacing: 2px;
    text-transform: initial;
    cursor: pointer;
}
.custom-control-input:checked ~ .custom-control-indicator {
    background: #000;
    border: 2px solid #fff;
    box-shadow: 0px 0px 0px 1px #000;
    color: #000 !important;
    padding: 0;
    margin: 0;
    background-image: none !important;
}
.custom-control-indicator {
    background: #fff;
    border: 1px solid #000;
}
.custom-control-indicator {
    width: 14px !important;
    height: 14px !important; 
}
.custom-control-input:focus ~ .custom-control-indicator {
  box-shadow: 0 0 0 1px #000;
}

.custom-checkbox .custom-control-indicator {
    box-shadow: none;
    border-radius: 0;
    background: transparent;
    padding: 0;
    margin: 0;
}

/* Bootstrap tag button */
.bootstrap-tagsinput {
    padding: 0;
    margin: 0;
    border: 0;
	width:100%;
    box-shadow: none;
}

.bootstrap-tagsinput input {
    margin: 0;
    border: 1px solid #e1e1e1;
	float: left !important;
    max-width: 100% !important;
    margin-top: 5px;
}
input:focus {
    border: 1px solid #e1e1e1 !important;
}
.bootstrap-tagsinput .tag {
    color: #fff !important;
    font-size: 10px;
    font-weight: 700;
    margin-right: 3px !important;
    background: #0d9b49;
    padding: 2px 4px;
    border-radius: 2px;
	float: left;
    display: block;
	margin-bottom:3px;
}
/* Filde upload name close css */
#file-upload-name {
    margin-top: 45px;
}

.file-remove-icon {
    font-size: 11px;
    background: #0d9b49;
    color: #fff;
    float: left;
    width: auto;
    display: block;
    padding: 5px 10px;
    border-right: 1px solid #fff;
    border-radius: 2px;
}

.file-remove-icon b {
    margin-left: 5px;
    cursor: pointer;
}
/* switch Button */

.new-switch {
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 87px;
  height: 24px;
  padding: 3px;
  background-color: white;
  border-radius: 12px;
  cursor: pointer;
}

.new-switch .btn-toggle {
    position: relative;
    border: none;
    height: 25px;
    width: 70px;
    border-radius: 50px;
    color: #6b7381;
    background: #0d9b49;
	cursor:pointer;
}
.new-switch .btn-toggle:focus,
.new-switch .btn-toggle.focus,
.new-switch .btn-toggle:focus.active,
.new-switch .btn-toggle.focus.active {
  outline: none;
}
.new-switch .btn-toggle:before,
.new-switch .btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity .25s;
}
.new-switch .btn-toggle:before {
  content: 'Work';
      left: 11px;
    font-size: 8px;
}
.new-switch .btn.btn-toggle.active:before {
    opacity: 0;
}



.new-switch .btn-toggle:after {
  content: 'Hire';
  right: -1100px;
  opacity: 0;
}


.new-switch .btn.btn-toggle.active:after {
    opacity: 1;
	right:10px;
    font-size: 8px;
}
.new-switch .btn-toggle > .handle {
    position: absolute;
    top: -2px;
    left: -5px;
    width: 28px;
    height: 28px;
    border-radius: 1.125rem;
    background: #fff;
    transition: left .25s;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.50);
}
.new-switch .btn-toggle.active {
  transition: background-color 0.25s;
}
.new-switch .btn-toggle.active > .handle {
  left: 45px;
  transition: left .10s;
}
.new-switch .btn-toggle.active:before {
  opacity: .5;
}
.new-switch .btn-toggle.active:after {
  opacity: 1;
}

.new-switch .btn-toggle:before,
.new-switch .btn-toggle:after {
  color: #fff;
}
.new-switch .btn-toggle.active {
  background-color: #178022;
}



/* Rating */

.give-feedback-content .stars {
  background: url(../images/ratig.png) repeat-x 0 0;
  width: 150px;
  margin: 0 auto;
}
.ie7 .give-feedback-content .stars {
  *zoom: 1;
}
.give-feedback-content .stars:before,
.give-feedback-content .stars:after {
  display: table;
  content: "";
}
.give-feedback-content .stars:after {
  clear: both;
}
.give-feedback-content .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
.give-feedback-content .stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}
.give-feedback-content .stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}
.give-feedback-content .stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}
.give-feedback-content .stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}
.give-feedback-content .stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}
.give-feedback-content .stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
}
.give-feedback-content .stars label:hover ~ span {
  background-position: 0 -30px;
}
.give-feedback-content .stars label.star-5:hover ~ span {
  width: 100% !important;
}
.give-feedback-content .stars label.star-4:hover ~ span {
  width: 80% !important;
}
.give-feedback-content .stars label.star-3:hover ~ span {
  width: 60% !important;
}
.give-feedback-content .stars label.star-2:hover ~ span {
  width: 40% !important;
}
.give-feedback-content .stars label.star-1:hover ~ span {
  width: 20% !important;
}
.give-feedback-content .stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url(../images/ratig.png) repeat-x 0 -60px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}
.give-feedback-content h2 {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

.stars {
    margin: 0 auto;
    float: none;
}

.daynamic-rating {
    margin-top: 10px;
    margin-bottom: 15px;
}

.give-feedback-text textarea {
    width: 100%;
    float: left;
    border: 1px solid  #0d9b49;
    padding: 10px;
    border-radius: 2px;
    height: 80px;
    font-size: 11px;
}

.give-feedback-button button {
    background: #0d9b49;
    color: #fff;
    text-transform: uppercase;
    height: 32px;
    display: block;
    margin: 0 auto;
    line-height: 30px;
    font-weight: 600;
    font-size: 12px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #0d9b49;
    cursor: pointer;
    width: 100%;
}




.background-white {
	padding:15px;
	background:#fff;
}

/* left sidebar area */
.user-profile-area {
    background: #fff;
}

.user-profile-cover-photo-areax {}

.user-profile-cover-photo-area {
    position: relative;
}

.user-profile-picurt-area {
    position: absolute;
    bottom: -45px;
    left: 0;
    right: 0;
    text-align: center;
}


.user-profile-picurt-area a img {
    margin: 0 auto;
    border: 3px solid #fff;
    border-radius: 2px;
    width: 80px;
    height: 80px;
    box-shadow: 0px 0px 2px 0px #000;
}

.user-profile-info-area {
    margin-top: 65px;
    text-align: center;
}

.user-profile-info-area a h2 {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.user-profile-info-area p {
    font-weight: 600;
    font-size: 14px;
    margin-top: 13px;
}

.user-profile-info-area a span {
    color: #00aeef;
    font-size: 13px;
    font-weight: 600;
    margin-top: 2px;
}

.user-profile-ratiing-area ul {
    text-align: center;
    list-style: outside none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.user-profile-ratiing-area ul li {
    display: inline-block;
}

.user-profile-ratiing-area ul li i, .user-profile-ratiing-area ul li span {
    font-size: 13px;
    color: #00aeef;
    padding: 1px;
}
.user-profile-post-flow-floing-area {
    margin-top: 1px;
}

.user-profile-post-flow-floing-single-area p {
    font-size: 14px;
    font-weight: 600;
}

.user-profile-post-flow-floing-single-area span {
    color: #00aeef;
}

h2.wid-get-title {
    font-weight: 600;
    margin-bottom: 8px;
}

.user-profile-social-area ul {
    text-align: left;
}

.user-profile-social-area ul
 li {
    display: inline-block;
}

.user-profile-social-area ul
 li a i {
    background: #A6A6A6;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 25px;
    color: #fff;
    font-size: 10px;
    text-align: center;
    margin-right: 6px;
}

.user-profile-social-area {
    margin-top: 1px;
}


.user-profile-awards-area {
    margin-top: 1px;
}

.user-profile-awards-area ul li {
    margin-right: 6px;
}

.user-profile-certificate-area {
    margin-top: 1px;
}

.user-profile-certificate-area ul li {
    margin-right: 5px;
}
.user-profile-member-since-area {
    margin-top: 1px;
}

.user-profile-member-since-area p {
    font-size: 14px;
}

.user-profile-member-since-area p span {
    font-weight: 600;
}
.user-profile-member-nofifi-area img {
    margin-right: 10px;
}

.user-profile-member-nofifi-area p {
    font-weight: 600;
}

.user-profile-member-nofifi-area span {
    background: red;
    width: 25px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    line-height: 25px;
    border-radius: 50%;
    margin-left: 15px;
}

.user-profile-member-nofifi-area {
    margin-top: 1px;
}

.user-profile-member-group-list ul li a {
    display: inline-block;
}

.user-profile-member-group-list ul li a span {
    font-weight: 600;
    font-size: 14px;
    margin-right: 7px;
}

.user-profile-member-group-list ul ul li a span:last-child {
    margin-left: 10px;
    margin-right: 0;
    font-weight: normal;
}

.user-profile-member-group-list {
    margin-top: 15px;
}

.sidebar-copy-right-area ul
 li {
    display: inline-block;
    font-size: 12px;
}

.sidebar-copy-right-area {
    padding: 15px;
}

.sidebar-copy-right-area ul
 li a {
    color: #606060;
}

.user-profile-member-group-title img {
    height: 12px;
    margin-top: 5px;
    margin-right: 7px;
}

.user-profile-member-group-title {
    font-weight: bold;
    font-size: 13px;
}
.user-profile-member-group-area {
    margin-top: 1px;
}
.right-sidebar-ads-area a img {
    width: 100%;
}

.right-sidebar-ads-area {
    margin-bottom: 10px;
}

.online-pooll-area h2 {
    background: #fff;
    padding: 15px;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}
.poll-que-ans {
    padding: 15px;
    background: #fff;
    margin-top: 1px;
}

.poll-que-ans p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.poll-que-ans label {
    float: left;
    margin: 0;
    width: 100%;
}
.online-pooll-area {
    margin-bottom: 10px;
}
.pol-submity-canse-button button {
    background: #00aeef;
    color: #fff;
    border-radius: 30px;
    padding: 6px 20px;
    font-size: 12px;
    border: 1px solid #00aeef;
    margin-right: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.pol-submity-canse-button {
    background: #fff;
    padding-left: 15px;
}

.pol-submity-canse-button button:last-child {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

.poli-all-area {
    background: #fff;
    padding: 15px;
}

.poli-all-area a {
    font-size: 13px;
    color: #00aeef;
}
.user-profile-social-area ul
 li a i.fa.fa-google-plus-official {
    background: #C53523;
}


.whats-your-mind-area {
    background: #fff;
    padding: 10px;
}

.whats-your-mind-area .col-lg-10 {
    padding-left: 0;
}

.whats-your-mind-text-area textarea {
    height: 70px;
    width: 100%;
    padding: 5px 10px;
    font-size: 13px;
}

.whats-your-mind-text-area
 ul li {
    border: 1px solid;
    border-radius: 30px;
    padding: 4px 15px;
    display: inline-block;
    margin-right: 4px;
}

.whats-your-mind-text-area
 ul li span i {
    margin-right: 10px;
}

.whats-your-mind-text-area
 ul li span span {
    font-size: 13px;
}

.whats-your-mind-text-area
 ul:last-child {
    float: right;
}

.whats-your-mind-text-area
 ul:last-child li:last-child {
    background: #00aeef;
    border-color: #00aeef;
    color: #fff;
}

.whats-your-mind-single-post {
    background: #fff;
    margin-top: 10px;
    padding: 10px;
	position:relative;
}
.whats-your-mind-single-post #my-new-menu {
    position: absolute;
    right: 0px;
    top: 0px;
}
.whats-your-mind-single-post #my-new-menu .hero {
    padding: 10px 15px 15px;
    font-size: 13px;
    cursor: pointer;
}

.whats-your-mind-single-post-user-img {
    max-width: 50px;
    max-height: 50px;
    overflow: hidden;
    margin-right: 10px;
}

.whats-your-mind-single-post-user-img-area {
    display: -ms-flexbox !important;
    display: flex !important;
    margin-bottom: 10px;
}

.whats-your-mind-single-post-user-img-right-content h2 {
    font-size: 14px;
    font-weight: bold;
}

.whats-your-mind-single-post-user-img-right-content h2 span {
    background: #00aeef;
    color: #fff;
    font-size: 10px;
    padding: 2px 4px;
    margin-left: 10px;
}


.whats-your-mind-single-post-user-img-right-content h2 span span {
    margin: 0;
    padding: 0;
    margin-left: 5px;
    font-size: 9px;
}

.whats-your-mind-single-post-user-img-right-content p {
    font-size: 14px;
    margin-top: 8px;
}
.whats-your-mind-single-post-user-img-right-content p span:first-child a {
    color: #00aeef;
    font-size: 13px;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
}
.whats-your-mind-single-post-content-area {
    font-size: 13px;
    position: relative;
}

.whats-your-mind-single-post-content-area a.collapsed {
    display: inline-block;
}

.whats-your-mind-single-post-content-area a i {
    font-size: 18px;
    vertical-align: bottom;
    cursor: pointer;
}
.whats-your-mind-single-post-content-count ul li {
    font-size: 13px;
  	margin-right:5px;
}

.whats-your-mind-single-post-content-count ul {
    margin: 0px;
}
.whats-your-mind-single-post-content-count-me ul a {
    display: inline-block;
}

.whats-your-mind-single-post-content-count-me ul a i {
    margin-right: 7px;
}
.whats-your-mind-single-post-content-count ul li:after {
    content: "-";
    position: absolute;
    right: -12px;
    top: 0px;
}

.whats-your-mind-single-post-content-count ul li {
    position: relative;
    margin-right: 20px;
}

.whats-your-mind-single-post-content-count ul li:last-child:after {
    content: none;
}

.whats-your-mind-single-post-content-count-me {
    border-top: 1px solid #e6ecf0;
    margin-top: 5px;
    padding: 4px 0px;
}

.whats-your-mind-single-post-content-count-me ul li {
    font-size: 14px;
    margin-right: 25px;
}

.whats-your-mind-single-post-content-count-me ul li a i {
    margin-right: 10px;
}
.whats-your-mind-single-post-user-img img {
    width: 50px;
    height: 50px;
}
.whats-your-mind-text-area
 ul li span {
       margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    line-height: 21px !important;
    height: 21px !important;
}
.chat-pro-img-all {
    width: 50px;
    height: 50px;
}

.comment-box-area .mt-0 {
    font-size: 14px;
    font-weight: 600;
    float: left;
    margin-right: 5px;
}
.comment-text-prover {
    font-size: 13px;
}
.comment-count-box {
    margin-top: 2px;
    margin-bottom: 10px;
}
.whats-your-mind-single-post-content-area p {
    margin-bottom: 5px;
}
.comment-box-area .mt-0 a {
    display: inline-block;
    float: left;
}
.chat-pro-first {
    font-size: 14px;
    margin-bottom: 5px;
}

.comment-count-box ul li {
    font-size: 13px;
    margin-right: 20px;
    position: relative;
}

.comment-count-box ul li:after {
    position: absolute;
    content: "-";
    top: 0;
    right: -10px;
}

.comment-count-box ul li:last-child:after {
    content: no-close-quote;
}

.comment-count-box ul:first-child li {
    font-weight: bold;
}
.comment-input-field-profile-img a img {
    width: 30px;
    height: 30px;
}

.comment-input-field-profile-img {
    max-width: 30px;
    height: 30px;
    margin-right: 7px;
}

.comment-input-field {
    display: -ms-flexbox!important;
    display: flex!important;
}

.comment-input-field-profile-input input {
    border: 1px solid #e6ecf0;
    width: 100%;
    height: 30px;
    border-radius: 1px;
}

.comment-input-field {
    margin-top: 15px;
}

.box.comment-box-area {
    background: #F4F8FB;
    padding: 0px;
    margin-top: 0px;
}
.comment-box-area .media img {
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.comment-input-field-profile-input {
    position: relative;
}

.profile-img-upload-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.profile-img-upload-button span {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 13px;
}

.profile-img-upload-button .image-upload {
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0;
    top: -5px;
    right: 0px;
}
.news-ads-area {
    padding: 10px;
    background: #fff;
    margin-top: 15px;
    margin-bottom: 0;
}

.single-neus-area-home {
    width: 23.0%;
    box-shadow: 0px 2px 4px #9a9a9a;
    margin: 5px;
    padding: 5px;
}

.single-neus-area-home img {
    width: 100%;
    height: auto;
    height: 90px;
}

.single-neus-area-home a {d;display: block;}

.single-neus-area-home h2 {
    font-size: 12px;
    font-weight: 600;
    max-height: 24px;
    overflow: hidden;
    margin-bottom: 5px;
}

.single-neus-area-home p {
    font-size: 11px;
    margin-top: 7px;
}

/* 5 Page */
.my-profile-header-cover-image img {
    width: 100%;
}

.my-profile-header-cover-profile-pic img {
    width: 100%;
}
.rate-this-person-area .wid-get-title {
    text-align: center;
    margin: 0;
    margin-top: 15px;
}

.rate-this-person-area ul {
    padding-top: 5px;
}

.rate-this-person-area ul li i {
    color: #A6A6A6;
	font-size: 14px;
}
.error-color-text {
    font-size: 13px;
    color: #f10000;
}
.prev-comment {
    color: #00aeef;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}


.comment-text-prover .comment-profile-name {
    display: inline-grid;
}




/*  */
.my-profile-header-cover-menu {
    background: #fff;
    margin-bottom: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	padding-top: 25px;
	position:relative;
}

.my-profile-header-cover-profile-pic span {
    background: #00aeef;
    color: #fff;
    font-size: 10px;
    padding: 2px 4px;
    margin-left: 10px;
    bottom: -1px;
    left: -9px;
    position: absolute;
}
.my-profile-header-cover-profile-pic span i {
    margin: 0;
    padding: 0;
    margin-left: 5px;
    font-size: 9px;
}

.my-profile-header-cover-profile-pic {
    position: absolute;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    background: #fff;
    padding: 7px;
    border-radius: 3px;
    max-width: 185px;
    bottom: -75px;
    left: 15px;
    z-index: 1;
}
.my-profile-header-cover-profile-top {
    position: absolute;
    top: -70px;
}

.my-profile-header-cover-profile-text {
    margin-left: 25px;
}
.my-profile-header-cover-image {
    position: relative;
}
.my-profile-header-cover-profile-menu-list ul li {
    display: inline-flex;
    text-align: center;
    font-weight: 600;
	    padding: 0px 5px;
}

/* .whats-your-mind-single-post .my-new-menu-submenu:after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: #fff;
    bottom: -5px;
    right: 6px;
    transform: rotate(45deg);
    border: 1px solid rgba(0, 0, 0, .15);
    z-index: 9;
    border-right: 0;
    border-bottom: 0;
} */
.slbIframeCont {
    max-width: 600px !important;
}
.video-upload-post {
    position: relative;
}

.video-upload-post a i {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 50px;
    color: #fff;
    height: 100%;
    width: 100%;
    text-align: center;
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.my-profile-header-cover-profile-menu-list ul li .active {
    color: #00aeef;
    border-bottom: 4px solid #00aeef;
    height: 60px;
}
.my-profile-header-cover-profile-menu-list ul li {
    height: 60px;
}
.my-profile-header-cover-profile-menu-list ul li:hover a {
    color: #00aeef;
}




.my-profile-header-cover-profile-menu-list ul li a {
    padding: 4px 12px;
}
.my-profile-header-cover-profile-menu-list ul li a span {
    font-weight: normal;
}
.my-profile-header-cover-profile-text-bottom {
    font-size: 14px;
    color: #000;
}
.my-profile-header-cover-profile-text-bottom span {
    font-size: 13px;
    color: #00aeef;
}
.my-profile-header-cover-profile-top {
    color: #fff;
    font-weight: 500;
    font-size: 25px;
}


.row.margin-o {
    float: left;
    width: 100%;
}

.single-about-area {
    background: #fff;
    margin-bottom: 1px;
    padding: 20px;
}

.single-about-title-area {
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 5px;
}

.single-about-title-area p {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.single-about-left-area h2, .single-about-right-area h2 {
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    position: relative;
    border-radius: 3px;
}
.single-about-left-area h2 span, .single-about-right-area h2 span {
    font-weight: 500;
    margin-top: 7px;
    display: block;
}

.single-about-title-area span i {
    margin-left: 12px;
    font-size: 14px;
}
.single-about-left-area p span {
    font-weight: 500;
    margin-top: 5px;
    display: inline-block;
    margin-left: 6px;
}
.single-about-left-area h2 br, .single-about-right-area h2 br {
    display: none;
}

.single-about-left-area p, .single-about-right-area p {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}
.password-hidden-hide {
    border: 1px solid #000;
    width: 100%;
    max-width: 200px;
    padding: 5px 10px;
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
	    height: 29px;
    justify-content: space-between!important;
}

.password-hidden-hide ul {
    display: inline-flex;
    margin-bottom: 2px;
}

.password-hidden-hide ul li i {
    font-size: 9px;
    margin-right: 2px;
}

.password-hidden-hide i {
    font-size: 12px;
    margin-top: 2px;
}

.password-hidden-hide ul li {
    display: inline-table;
}

.password-hidden-hide .fa-eye {
    color: #a7a2a2;
    cursor: pointer;
}




.award-sidebar-area {
    background: #fff;
    margin-bottom: 1px;
    padding: 20px;
}

.award-sidebar-title-area {
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 5px;
}

.award-sidebar-title-area h2 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.award-sidebar-content-area h2 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 19px;
}

.award-sidebar-content-area h2 span {
    font-weight: 500;
    margin-top: 7px;
    display: block;
}

.award-sidebar-content-area {
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.award-sidebar-content-area img {
    width: auto;
    height: 25px;
    margin-top: 19px;
}
.award-sidebar-content-area ul li {
    display: inline-block;
    margin-right: 10px;
}

.award-sidebar-content-area ul li i {
    font-size: 20px;
}

.award-sidebar-content-area ul {
    margin-top: 14px;
}
.password-hidden-hide.showpassword ul{
    display: none;
}
.password-hidden-hide.showpassword p {
    display: block;
}
.password-hidden-hide p {
    display: none;
}
.single-about-left-area, .single-about-right-area {
    margin-top: 15px;
}

.hover-and-removed .single-about-left-area:hover, .hover-and-removed .single-about-right-area:hover {
    background: #f5f5f5;
    position: relative;
}

/* general-area-popup-box */
.general-area-popup-box {
    max-width: 500px;
    margin: 0 auto;
    float: none;
    background: #fff;
    width: 100%;
    display: flow-root;
    border-radius: 6px;
}

.general-area-popup-box-header {
    border-bottom: 1px solid #e1e1e1;
    padding: 20px;
    text-align: center;
    position: relative;
}

.general-area-popup-box-input p {
    font-size: 14px;
    margin-bottom: 6px;
}

.general-area-popup-box-input {
    margin-bottom: 12px;
}

.general-area-popup-box-input input {
    width: 100%;
    border: 1px solid #e1e1e1;
    height: 35px;
    padding: 10px;
    font-size: 13px;
}

.general-area-popup-box-body {
    padding: 20px;
}
.general-area-popup-box-input:nth-child(2), .general-area-popup-box-input:nth-child(3) {
    width: 50%;
}

.general-area-popup-box-input:nth-child(5) input, .general-area-popup-box-input:nth-child(6) input, .general-area-popup-box-input:nth-child(7) input {max-width: 200px;width: 100%;}
.popup-select-option .select2 {
    width: 97% !important;
}

.popup-select-option  .select2-selection {
    border-radius: 0;
    border: 1px solid #e1e1e1;
    height: 35px;
}

.popup-select-option .select2-selection__rendered {
    font-size: 13px;
    margin-top: 3px;
}

.popup-select-option .select2-selection__arrow {
    margin-top: 3px;
}

.popup-select-option b {
    border-color: #000 transparent transparent transparent !important;
}

.general-area-popup-box-input:nth-child(4) .popup-select-option {
    float: left;
    width: 32.60%;
    margin-right: 5px;
}

.general-area-popup-box-input:nth-child(4) .popup-select-option:last-child {margin-right: 0;}
.general-area-popup-box-body .save-button button {
    background: #00aeef;
    border: 1px solid #00aeef;
    font-size: 13px;
    color: #fff;
    padding: 8px 20px;
    float: right;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}
.general-area-popup-box-input:nth-child(5) {
    border-top: 1px solid #e1e1e1;
    margin-top: 5px;
    padding-top: 10px;
}
.general-area-popup-box-header i {
    position: absolute;
    right: 15px;
    font-size: 12px;
    top: 15px;
    color: #b2b2b2;
}
/* general-area-popup-box */

/* Profile photo area */
.imageGallery .col-lg-2 {
    padding: 5px 5px !important;
}
.imageGallery a img {
    width: 100%;
}
.imageGallery {
    padding: 5px;
    background: #fff;
    margin: 0px;
}
.imageGallery a:before {
    content: "";
    width: 100%;
    height: 100%;
    display: table;
    float: left;
    margin: 0 auto;
    background: #0000004a;
    position: absolute;
    top: 100px;
    left: 1000px;

}
.imageGallery a:hover:before {
  top: 0px;
  left: 0px;
}
.imageGallery a {
    position: relative;
    overflow: hidden;
}
.delete-icon-forgllary {
    position: absolute;
    right: 5px;
    height: 100%;
    top: 0;
    color: #fff;
}
.social-icon-forgllary {
    position: absolute;
    right: 5px;
    bottom: 0px;
    color: #fff;
}
.delete-icon-forgllary .my-new-menu-submenu {
    right: 0;
    max-width: 90px;
    padding: 0 !important;
    text-align: center;
    width: 90px;
    top: 17px;
}
.delete-icon-forgllary .my-new-menu-submenu li button {
    width: 100%;
    padding: 4px 0px;
    font-size: 13px;
    border: 0;
    background: #fff;
    cursor: pointer;
}

.delete-icon-forgllary .my-new-menu-submenu li button:hover {
    background-color: #00000025;
}
/* Profile photo area */
.social-icon-forgllary a:before {
    display: none;
}


.social-icon-forgllary .my-new-menu-submenu a i {
    position: relative;
    font-size: 14px;
    color: #000;
    padding: 0 !important;
    margin: 0 !important;
}

.social-icon-forgllary a {
    padding: 2px !important;
    margin: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
}

.social-icon-forgllary .my-new-menu-submenu li {
    display: inline-flex;
    text-align: center;
    padding: 0px 3px;
}

.social-icon-forgllary .my-new-menu-input:checked ~ .my-new-menu-submenu {
    max-height: 30px !important;
    width: 75px;
    right: -1px;
    top: -28px;
    padding: 0 !important;
}
.video-upload-post .delete-icon-forgllary, .video-upload-post  .social-icon-forgllary {
    opacity: 0;
}

.video-upload-post:hover .delete-icon-forgllary, .video-upload-post:hover .social-icon-forgllary {
    opacity: 1;
}
/*show the second levele menu of the selected voice*/

/* Schedule important meetings for the beginning or the end of the day. */



/*
Back to top button 
*/
#scroll-top {
    position: fixed;
    right: 140px;
    bottom: 20px;
    margin: 0;
    text-decoration: none;
    z-index: 99;
}
#scroll-top button {
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: 0px;
    cursor: pointer;
}
.announces-bar-page-link {
    background: #fff;
    padding: 10px;
    position: relative;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.announces-bar-page-link ul li a {
    font-size: 14px;
    font-weight: 600;
    margin-top: 2px;
}

.announces-bar-page-link ul li .active {
    color: #00aeef;
}

.announces-bar-page-link ul li {
    display: inline-block;
    padding-right: 10px;
}

.announces-bar-page-link ul {
    margin: 0 !important;
    padding: 0 !important;
    display: block;
    overflow: hidden;
}
.announces-bar-page-link ul:last-child span input {
    max-width: 20px;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.announces-bar-page-link ul:last-child span {
    position: relative;
}
.comment-box-area  #my-new-menu {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
}
.comment-box-area .my-new-menu-input:checked ~ .my-new-menu-submenu {
    max-height: 300px;
    padding: 1px 0px;
 }
 .comment-box-area .my-new-menu-submenu li a {
    font-size: 13px;
    width: 100px;
    padding: 3px 8px;
    color: #000;
    border-bottom: 1px solid #00000014;
    text-align: center;
}
.my-new-menu-label span {
    font-size: 12px;
    margin-right: 10px;
    position: relative;
    top: -4px;
}
/* The my-check-box */
.my-check-box {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.my-check-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 7px;
	left: 7px;
	height: 15px;
	width: 15px;
	background-color: #eee;
	border: 1px solid #959595;
}
/* On mouse-over, add a grey background color */
.my-check-box:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.my-check-box input:checked ~ .checkmark {
    background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.my-check-box input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.my-check-box .checkmark::after {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	border-width: none;
	/* -webkit-transform: rotate(45deg); */
	/* -ms-transform: rotate(45deg); */
	/* transform: rotate(45deg); */
	background: #959595;
    transform: scale(0.7);
	border-radius:2px;
}


.my-check-box {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #e1e1e1;
    height: 30px;
}

.my-check-box span:last-child {
    width: 100%;
    float: left;
    font-size: 13px;
    line-height: 28px;
    background: #f5f5f5;
    padding-left: 10px;
    border-left: 1px solid #e1e1e1;
}
.whats-your-mind-single-post-content-area .my-check-box {
    max-width: 300px;
    border-radius: 3px;
    float: left;
    width: 100%;
}
.single-poll-list .single-poll-list-counter {
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    float: left;
    padding: 6.5px;
    margin-left: 7px;
	padding: 6.5px 15px
}
.single-poll-list {
    float: left;
    width: 100%;
    margin-bottom: 8px;
}


.group-title-area {
    background: #fff;
    padding: 15px;
    margin-bottom: 1px;
}

.group-title-area:nth-child(1) h2 {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
}

.group-title-area:nth-child(1) .group-mamber-add-mail {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 10px;
}

.group-title-area:nth-child(1) .group-mamber-add-mail i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 10px;
    color: #939393;
    line-height: 27px;
    margin-left: 6px;
}

.group-title-area:nth-child(1) .group-mamber-add-mail input {
    width: 100%;
    border: 1px solid #e1e1e1;
    height: 27px;
    padding: 10px;
    font-size: 13px;
    padding-left: 20px;
    color: #939393;
}

.group-title-area:nth-child(1) p {
    font-size: 13px;
}

.group-title-area:nth-child(1) p span {
    font-size: 13px;
    color: #00aeef;
}
.group-title-area:nth-child(2) h2 {font-size: 14px;margin-bottom: 10px;font-weight: bold;}

.group-title-area:nth-child(2) p {
    font-size: 13px;
}

.group-title-area:last-child {
    margin-top: 10px;
}

.group-title-area:nth-child(3) h2 {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
}

.group-title-area:nth-child(3) ul {
    border-top: 1px solid #e1e1e1;
    padding-top: 9px;
}

.group-title-area:nth-child(3) ul li
 a {
    font-size: 15px;
    display: inline-block;
    margin-bottom: 4px;
}

.group-title-area:nth-child(3) ul li a span {
    margin-left: 9px;
    font-size: 12px;
    font-weight: 600;
}
.group-cover-photo-area {
  height: 200px;
  margin-bottom: 15px;
  overflow-y: hidden;
  position: relative;
}
.group-cover-photo-area > img{
  min-height: 200px;
  width: 100%;
}

.group-cover-photo-name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.group-cover-photo-name .logoimg{
  position: absolute;
  top: 25%;
  right: 10%;
  width: 65px;
  height: 65px;
  overflow: 100%;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.47),
               0 0 0 3px rgba(255, 255, 255, 0.32),
                0 0 0 6px rgba(255, 255, 255, 0.33),
                 0 0 0 9px rgba(255, 255, 255, 0.22);
}
.group-cover-photo-name .logoimg img{
  width: 100%;
  min-height: 65px;
}

.group-cover-photo-name h2 {    
    font-size: 32px;
    color: #fff;
    width: 100%;
    left: 0;
    padding: 8px 15px;
    bottom: 0;
    text-shadow: 1px 0px #333;
    position: absolute;
    background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}


.poll-edtior-for-create textarea {
    border-color: #e1e1e1;
    height: 120px;
}
.whats-your-mind-text-area-iput span {
    border: 1px solid #e1e1e1;
    width: 16px;
    height: 16px;
    display: block;
    margin: 0;
    padding: 0;
    float: left;
    position: absolute;
    left: 7px;
    top: 9px;
}
.whats-your-mind-text-area-iput input {
    height: 35px;
    border: 1px solid #e1e1e1;
    border-left-color: #e1e1e1;
    border-right-color: #e1e1e1;
    border-top-color: #fff;
    width: 100%;
    padding-left: 30px;
    font-size: 13px;
}

.whats-your-mind-text-area-iput.overflow-fix {
    position: relative;
}
.poll-edtior-for-create {
    margin-bottom: 15px;
}
.whats-your-mind-text-area-iput:nth-child(2) {
    margin-top: -7px;
}



/* Grounp-page-flowing */
.group-folling-area {
    border-bottom: 1px solid #e1e1e1;
}

.group-folling-title h2 {
    color: #03afef;
    font-weight: 600;
}

.group-folling-title h2 span {
    color: #000;
    font-size: 13px;
    font-weight: 500;
}

.group-folling-mamber-add-mail {
    position: relative;
}

.group-folling-mamber-add-mail i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 10px;
    color: #939393;
    line-height: 30px;
    margin-left: 6px;
}

.group-folling-mamber-add-mail input {
    width: 100%;
    border: 1px solid #e1e1e1;
    height: 30px;
    padding: 10px;
    font-size: 13px;
    padding-left: 20px;
	margin-bottom:10px;
    color: #939393;
}
.single-foloing-area {
    position: relative;
}

.group-single-folloing a span {
    background: #00aeef;
    color: #fff;
    font-size: 10px;
    padding: 1px 5px;
    bottom: 0px;
    left: 15px;
    position: absolute;
}
.single-foloing-area h2 {
    width: 100%;
}

.main-folo-oarea {
    background: #fff;
    padding: 10px;
}

.single-following-area {
    margin-top: 10px;
    margin-bottom: 10px;
}

.single-foloing-content h2{
  font-size: 15px;
  font-weight: bold;
  color: 333;
}
.single-foloing-content p{
  font-size: 12px;
  font-weight: 300;
}
.single-foloing-content h5{
    font-size: 13px;
    font-weight: bold;
    color: #00aeef;
    margin-top: -2px;
    margin-bottom: 5px;
}
.following-area form .followBtn{
    max-width: 130px;
    border: none;
    background:#00aeef;
	  color:#fff;
    text-align: center;
    height: 23px;
    overflow: hidden;
    font-size: 13px;
    line-height: 21px;
    cursor: pointer;
    margin: 0 auto;
    position: relative;
}
.followBtn span{
  color: #fff;
  width: 100%;
  display: block;
  padding: 1px 15px;
   transition:.123s;
}
.followBtn .following-text {
  background: #00aeef;
}
.followBtn .unfollow-text {
  background: #bd1b4f;
  position: absolute;
  left: 0;
  top: -100%;
  line-height: 21px;
}
.following-area .followBtn:hover .unfollow-text {
  top: 0;
}



/* Grounp-page-flowing End */



/* SingUp Page */

.single-select-title-icon {
    position: relative;
}
.sing-up-area {
    background-size: cover !important;
    background-position: center !important;
}


.single-select-title-icon textarea {
    border: 1px solid #f1f1f1;
    background: #f1f1f1;
    color: #9ea7c7;
    font-size: 14px;
    margin-bottom: 15px;
    box-shadow: none;
}
.single-select-title-icon textarea:focus{
  border: 1px solid #e1e1e1 !important;
}
.single-select-title-icon select {
    width: 100%;
    border: 1px solid #f8f8f9;
    background: #f1f1f1;
    color: #7b7b7b;
    font-size: 14px;
    margin-bottom: 15px;
    border-radius: 2px;
    padding: 10px 15px;
}
.single-select-title-icon select:focus {
    border: 1px solid #e1e1e1 !important;
}
.single-select-title-icon
 i {
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 14px;
    color: #9ea7c7;
}
button.btn.btn-primary.contunio-buton-for {
    background: #48a4e3;
    width: 100%;
    height: 60px;
    border: 1px solid #318dcc;
    margin-bottom: 15px;
    cursor: pointer;
}

.footter-of-singup-form p {
    color: #9ea7c7;
    font-size: 13px;
}
.single-select-title span
 a {
    color: #9ea7c7;
    font-size: 14px;
}
.singe-up-form-area button {
    background: #48a4e3;
    border: 1px solid #48a4e3;
    color: #fff;
    font-size: 14px;
    max-width: 125px;
    width: 100%;
    height: 44px;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
}

.singe-up-form-single-area {
    position: relative;
    max-width: 216px;
    height: 44px;
    margin-right: 19px;
}

.singe-up-form-single-area input {width: 100%;height: 44px;border: 1px solid #9ea7c7;border-radius: 30px;padding: 10px 20px;font-size: 14px;color: #9ea7c7;}

.singe-up-form-single-area i {
    position: absolute;
    right: 16px;
    top: 0;
    height: 100%;
    width: 18px;
    color: #9ea7c7;
    text-align: center;
    line-height: 43px;
}

.logo-s {
    padding: 20px 0px;
}

.singe-up-form-area {
    padding: 20px 0px;
}
.login-banner-area {
    margin-top: 65px;
}

.login-form-filed-area {
    margin-top: 65px;
    background-color: #fff;
    box-shadow: 0px 0px 17px 2px #48a4e321;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 40px;
    padding-bottom: 35px;
	    margin-bottom: 330PX;
}

.login-form-filed-title h2 {
    color: #263b58;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 15px;
}

.login-form-filed-title p {
    color: #9595a4;
    font-size: 15px;
    line-height: 20.5px;
}

.login-form-filed-title {
    margin-bottom: 35px;
}

.single-select-title p {
    font-size: 14px;
    color: #365b8d;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.single-select-title input {
    width: 100%;
    background: #f1f1f1;
    border: 1px solid #f8f8f9;
    padding: 10px 15px;
    color: #9ea7c7;
    font-size: 14px;
    margin-bottom: 20px;
    border-radius: 2px;
}
.login-form-wicon {
    position: relative;
    width: 100%;
    height: auto;
    float: left;
}

.login-form-wicon i {
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 14px;
    color: #9ea7c7;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
select:focus {
	
}
i.fa.fa-volume-control-phone {
    transform: rotate(-45deg);
}



/* SingUp End Page */
/* Condction Page */
.singme-content-area {
    margin-top: 200px;
    position: relative;
    background-repeat: no-repeat !important;
    color: #fff;
    background-size: cover !important;
	    padding-bottom: 150px;
}
.singme-content-area::before {
    content: '';
    position: absolute;
    background: #fff;
    width: 100%;
    height: 200px;
    left: 0;
    top: -200px;
}
.top-margin {
  margin-top: -200px;
}
.sing-up-area.overflow-fix {
    background: #fff;
}
.bannte-title-of-ondction-area img {
    margin: 0 auto;
    display: block;
    margin-bottom: 55px;
}
.bannte-title-of-ondction-content p {
    line-height: 30px;
    font-size: 16px;
    color: #fff;
}
.accept-for-Signup.overflow-fix {
    max-width: 240px;
    margin-top: 30px;
    padding-bottom: 100px;
}

.accept-for-Signup .my-check-box span:last-child {
    background: transparent;
    border: 0;
    color: #136185;
	padding-left: 2px;
    font-size: 20px;
}
.condicon-check-box .checkmark {
    position: absolute;
    top: 5px;
    left: 6px;
    height: 17px;
    width: 17px;
    background-color: transparent;
    border: 1px solid #eee;
    border-radius: 1px;
}
.my-check-box.condicon-check-box {
    border: 0px solid;
}
.condicon-check-box .checkmark::after {
    background: #0a78bb;
    transform: scale(0.9);
    border-radius: 1px;
}
.man-area {
    padding: 134px;
    background: url(../images/guest/man.png);
    margin-top: -150px;
    z-index: 9;
    position: relative;
}
.condign-heading-area {
    margin-top: 65px;
}
.condign-heading-area h2 {
    color: #263b58;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 40px;
}

.condign-heading-area h2 span {
    font-weight: 300;
}

.condign-heading-area p {
    color: #9595a4;
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 30px;
}
.condign-heading-area a.joninBtn {
    background: #48a4e3;
    color: #fff;
    font-size: 14px;
    max-width: 140px;
    box-shadow: 1px 1px 3px #aaa;
    text-align: center;
    padding: 7px 15px;
    text-shadow: 0px 1px 0 #195369;
    width: 100%;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
}

.accept-for-Signup .my-check-box:hover input ~ .checkmark {
    background-color: #0a78bb;
}
/* Condction End Page */
* Grounp-page-flowing */
.group-folling-area {
}

.group-folling-title li {
    margin-right: 25px;
}
.group-folling-title li a {
    color: #03afef;
    font-weight: 600;
    padding: 2px 
}
.group-folling-title li a.active {
    border-bottom: 3px solid #03afef;
}

.group-folling-title h2 span {
    color: #000;
    font-size: 13px;
    font-weight: 500;
}

.group-folling-mamber-add-mail {
    position: relative;
}

.group-folling-mamber-add-mail i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 10px;
    color: #939393;
    line-height: 30px;
    margin-left: 6px;
}

.group-folling-mamber-add-mail input {
    width: 100%;
    border: 1px solid #e1e1e1;
    height: 30px;
    padding: 10px;
    font-size: 13px;
    padding-left: 20px;
  margin-bottom:10px;
    color: #939393;
}





@media (min-width: 1200px) {	
	
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) {

}

/* Small devices ( phones, 575px and up) */
@media only screen and (min-width: 300px) and (max-width: 575px) {

}
