<template>
	<div class="btn-area">
		<form action="" method="get">
			  <autocomplete
			    url="/admin/training/user_search"
			    anchor="email"
			    label="name"
			    param="search"
			    :on-select="getData">
			  </autocomplete>
			<button type="submit" class="btn btn-sm btn-primary memberAddBtn">
				<i class="fa fa-plus" aria-hidden="true"></i>Add Member</button>
		</form>
	</div>
</template>

<script>
import Autocomplete from 'vue2-autocomplete-js'
export default {

  name: 'UserSearch',

  data () {
    return {
    	name: '',
    }
  },
  components: { Autocomplete },
   methods: {
      getData(obj){
      	this.name = obj.full_name.first_name;
        console.log(obj);
      }
    }
}
</script>

<style lang="css" scoped>
</style>