<template>
	<select name="group_parent_id" class="form-control">
		<option value="">Select Group</option>
		<option v-for="group,index in groups"
			:key="index"
			:value="group.id">{{group.name}}
		</option>
	</select>
</template>

<script>
export default {

  name: 'GroupSelect',

  data () {
    return {
		groups: []
    }
  },
  created (){
  	this.getGroups();
  },
  methods: {
  	getGroups (){
	  	axios.get('/admin/groups_json_parent')
	  	.then((response) => {
	  		console.log(response);
			this.groups = response.data;
	    }).catch(function (error) {
	 	 	console.log(error)
	    });
  	}
  }
}
</script>

<style lang="css" scoped>
</style>