<template>
	<div>
		<dataTable :tableCols="columns"
			:tableData="groups" 
			:checkBox="true">
		</dataTable>
	</div>
</template>

<script>
import dataTable from '../../dataTable/DataTable'
export default {
  data (){
  	return {
  	  columns: [
	  	  {
	  	  	title: 'name',
	  	  	fieldName: 'name',
	  	  	type: 'text'
	  	  },
	  	  {
	  	  	title: 'detail',
	  	  	fieldName: 'detail',
	  	  	type: 'text'
	  	  },
	  	  {
	  	  	title: 'cover',
	  	  	fieldName: 'cover',
	  	  	type: 'img',
	  	  	size: {
	  	  		w: '60px',
	  	  		h: '30px'
	  	  	}
	  	  },
	  	  {
	  	  	title: 'logo',
	  	  	fieldName: 'logo',
	  	  	type: 'img',
	  	  	size: {
	  	  		w: '30px',
	  	  		h: '30px'
	  	  	}
	  	  },
	  	  {
	  	  	title: 'parent',
	  	  	fieldName: 'group_parent_id',
	  	  	type: 'int'
	  	  },
	  	  {
	  	  	title: 'created',
	  	  	fieldName: 'created_at',
	  	  	type: 'date',
	  	  }],
  	  groups: [],
  	}
  },
  components: {
  	dataTable
  },
  created() {
  	this.getGroups();
  },
  methods: {
  	getGroups (){
	  	axios.get('/admin/groups_json_paginate')
	  	.then((response) => {
	  		console.log(response);
			this.groups = response.data.data;
			this.total = response.data.total;
	    }).catch(function (error) {
	 	 	console.log(error)
	    });
  	}
  },
}
</script>

<style lang="css" scoped>
</style>