<template>
  <div>
    <dataTable :tableCols="columns"
      :tableData="groups" 
      :checkBox="true">
    </dataTable>
  </div>
</template>

<script>
import dataTable from '../../dataTable/DataTable'
export default {

  name: 'SubIndex',

  data () {
    return {
      columns: [
        {
          title: 'name',
          fieldName: 'name',
          type: 'text'
        },
        {
          title: 'detail',
          fieldName: 'detail',
          type: 'text'
        },
        {
          title: 'cover',
          fieldName: 'cover',
          type: 'img',
          size: {
            w: '60px',
            h: '30px'
          }
        },
        {
          title: 'logo',
          fieldName: 'logo',
          type: 'img',
          size: {
            w: '30px',
            h: '30px'
          }
        },
        {
          title: 'created',
          fieldName: 'created_at',
          type: 'date',
        },
        {
          title: 'parent',
          fieldName: 'parent_to',
          type: 'int'
        }],
      groups: [],
    }
  },
  components: {
    dataTable
  },
  created (){
    this.getSubGroups();
  },
  methods: {
  	getSubGroups (){
	  	axios.get('/admin/child_groups_json')
	  	.then((response) => {
	  		console.log(response);
			this.groups = response.data.data;
			this.total = response.data.total;
	    }).catch(function (error) {
	 	 	console.log(error)
	    });
  	}
  }
}
</script>

<style lang="css" scoped>
</style>