<template>
	<div>
		<table-top></table-top>
		<div class="info-table table-responsive">
			<table class="table table-striped display">
				<theader :checkAll="checkBox" 
					:columns="tableCols"></theader>
				<tBodyContent :checkBox="checkBox" 
					:columns="tableCols"
					:tableData="tableData"></tBodyContent>
			</table>
		</div>
	</div>
</template>

<script>
import tableTop from './TableTop'
import theader from './TableHeader'
import tBodyContent from './TableBody'
export default {

  name: 'DataTable',
  props: {
    checkBox: {
	  	type: Boolean,
    	default: true
    },
 	tableCols: {
	  type: Array,
      required: true
    },
 	tableData: {
	  type: Array,
      required: true
    },
  },
  data () {
    return {
    }
  },
  components: {
  	tableTop,theader, tBodyContent
  }
}
</script>

<style lang="css" scoped>
</style>