<template>
<tbody>
	<tr v-for="object,index in tableData" :key="index">
        <td v-if="checkBox">
        	<div class="checkbox">
		        <label>
		          <input type="checkbox">
		        </label>
	      	</div>
		</td>
        <td>{{index+1}}</td>
        <td v-for="(data,bojectKey) in object"
        	:key="bojectKey"
        	v-if="colByKey(bojectKey)"
        	>
        	<img v-if="colByKey(bojectKey).type === 'img'?true:false"
        		:src="'/storage/'+data" 
        		:style="{
        			width: colByKey(bojectKey).size.w,
        			height: colByKey(bojectKey).size.h
        		}" alt="">
        	<span v-else-if="colByKey(bojectKey).type === 'date'?true:false">{{dateFormet(data)}}</span>
        	<span v-else>{{data}}</span>
    	</td>
        <td><span data-toggle="modal" data-target="#warningModal" class="warning">Warning</span><span class="block">Block</span><span class="edit">Edit</span><span class="del">Delete</span></td>
    </tr>
</tbody>
</template>

<script>
export default {

  name: 'TableBody',

  props: {
 	columns: {
	  type: Array,
      required: true
    },
 	tableData: {
	  type: Array,
      required: true
    },
    checkBox: {
	  	type: Boolean,
    	default: true
    }
  },
  data () {
    return {

    }
  },
  computed: {
  },
  methods: {
  	checkObj (value){
  		return this.columns.map(objt => objt.fieldName).includes(value);
  	},
  	colByKey (key){
  		var selectedObj
  		this.columns.map(obj => {
  			if(obj.fieldName === key) {
  				selectedObj = obj;
  			}
  		});
  		return selectedObj
  	},
  	dateFormet (date) {
  		var mydate = new Date(date).toDateString(); 
		return mydate;
  	}
  }
}
</script>

<style lang="css" scoped>
tr > td {
	white-space: nowrap;
}
</style>