<template>
	<thead>
	    <tr>
	        <th v-if="checkAll"  class="all">
	        	<div class="checkbox">
			        <label>
			          <input type="checkbox">
			        </label>
		      	</div>
			</th>
			<th>#</th>
	        <th v-for="column,index in columns">{{column.title}}</th>
	    </tr>
    </thead>
</template>

<script>
export default {

  name: 'TableHeader',
  props: {
 	columns: {
	  type: Array,
      required: true
    },
    checkAll: {
	  	type: Boolean,
    	default: true
    }
  },
  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>