<template>
	<div class="row">
		<div class="col-sm-3">
			<div class="form-group">
				<input type="text" placeholder="Search" class="form-control filterInput">
			</div>
		</div>
		<div class="col-sm-4"></div>
		<div class="col-sm-5"></div>
	</div>
</template>

<script>
export default {

  name: 'TableTop',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
.filterInput {
    width: 100%;
    margin-left: 0;
    padding: 10px 12px;
    background-color: #304ffe;
    color: rgba(255,255,255,0.7);
    border: 1px solid #304ffe;
    outline: 0;
    border-radius: 6px;
}
</style>