<template>
    <div class="news-ads-area overflow-fix">
        <div class="single-neus-area-home overflow-fix">
            <a href=""><img src="images/news-1.png"/></a>
            <h2>ইংল্যান্ডের জার্সিতে আর দেখা যাবে না ইংলিশ</h2>
            <p>০৬ ডিসেম্বর, ২০১৭</p>
        </div>
        <div class="single-neus-area-home overflow-fix">
            <a href=""><img src="images/news-3.png"/></a>
            <h2>ইংল্যান্ডের জার্সিতে আর দেখা যাবে না ইংলিশ</h2>
            <p>০৬ ডিসেম্বর, ২০১৭</p>
        </div>
        <div class="single-neus-area-home overflow-fix">
            <a href=""><img src="images/news-2.png"/></a>
            <h2>ইংল্যান্ডের জার্সিতে আর দেখা যাবে না ইংলিশ</h2>
            <p>০৬ ডিসেম্বর, ২০১৭</p>
        </div>
        <div class="single-neus-area-home overflow-fix">
            <a href=""><img src="images/news-1.png"/></a>
            <h2>ইংল্যান্ডের জার্সিতে আর দেখা যাবে না ইংলিশ</h2>
            <p>০৬ ডিসেম্বর, ২০১৭</p>
        </div>
    </div>
</template>

<script>
export default {

  name: 'News',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>