<template>
    <div class="networkFollowerArea  overflow-fix row">
    	<single-network v-for="follower,index in followers" 
        :user="follower"
        :key="index"></single-network>
    </div>
</template>

<script>
import SingleNetwork from './Single'
export default {

  name: 'NetworkIndex',

  data () {
    return {
      followers: [],
    }
  },
  components: {
  	SingleNetwork,
  },
  created (){
    this.getFollowers();
  },
  methods: {
    getFollowers (){
      axios.get('/authorize_user_network_json')
      .then((response) => {
        console.log(response);
        this.followers = response.data
      }).catch(function (error) {
      console.log(error)
      });
    }
  }
}
</script>

<style lang="css" scoped>
</style>