<template>
	<div class="col-lg-6 update-style-of-net">
        <div class="single-following-area row">
            <div class="group-single-folloing  col-sm-4 o-right-padding">
                <a :href="'/profile/'+user.follows_id">
                  <img src="/images/big-profile.png">
                  <span>4.0<i class="fa fa-star" aria-hidden="true"></i></span>
                </a>
            </div>
            <div class="single-foloing-content col-sm-8">
                <h2>
                  <a :href="'/profile/'+user.follows_id">
                  {{user.follower.post_user.first_name}} 
                  {{user.follower.post_user.last_name}}</a>
                </h2>
                <p>Journalist at</p>
                <h5><b>Ekattor Television</b></h5>
                <div class="following-area overflow-fix">
                     <form class="following-button" @submit.prvent="storeFollow" method="post">
                     	<button class="followBtn" type="submit">
                        	<span class="following-text">Following</span>
                        	<span class="unfollow-text">Unfollow</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

  name: 'SingleNetwork',
  props: ['user'],
  create (){
    console.log(this.user);
  },
  methods: {
    storeFollow (){
        axios.post('/network/'+ this.user.id +'/store')
            .then((response) => {
              console.log(response);
            }).catch(function (error) {
              console.log(error)
            });
    }
  }
}
</script>

<style lang="css" scoped>
</style>