<template>
<div class="col-lg-10">
    <div class="whats-your-mind-content overflow-fix">
      <form enctype="multipart/form-data" @submit.prevent="storePost" method="post">
        <div class="whats-your-mind-text-area postBoxArea overflow-fix">
            <textarea 
              v-model="post.message"
              placeholder="share an article, photo, or update">
              </textarea>
            <div class="filsShow">
              <div v-for="image,index in post.images"
                :key="index">
            	   <img :src="image" alt="">
                <button type="button"
                  @click="deleteEvent(index)">
                  <i class="fa fa-times-circle"></i>
                </button>
              </div>
            </div>
        </div>
        <div class="whats-your-mind-text-area overflow-fix d-flex justify-content-between">
            <ul>
                <li class="fileUploadParent">
                	<i class="fa fa-picture-o" aria-hidden="true"></i>
                	<span>photo</span>
                	<input type="file"
                		multiple="multiple"
                		name="imageUpload"
						        @change="onImageUpload"
                		class="imageUpload">
                </li>
                <li class="fileUploadParent">
                	<i class="fa fa-volume-up" aria-hidden="true"></i>
                	<span>Audio/video</span>
                	<input type="file"
                		multiple="multiple"
                    @change="onImageUpload"
                		name="imageUpload"
                		class="imageUpload">
                </li>
                <li>
                    <select class="post-list">
                        <option>Post</option>
                        <option>Draft</option>
                    </select>
                </li>
            </ul>
        	<button type="submit">Post</button>
        </div>
        </form>
    </div>
</div>
</template>

<script>
export default {

  name: 'PostCreate',

  data () {
    return {
      post:{
        message:'',
        images: [],
        multimedia: []
      },
      postImages: [],
    }
  },
  computed: {
    userPostInfo (){
      var self = this;
      return (function(){
          var data = new FormData();
          data.append('message' , self.post.message);
          const files = self.postImages
          for(var i = 0;i < files.length;i++) {
            data.append('file[]', files[i]);
          }
          return data;
      })();
    }
  },
  methods: {
    storePost() {
      console.log(this.userPostInfo);
      axios.post('/post/store', this.userPostInfo)
        .then((response) => {
            this.post = '';
            this.userPostInfo = '';
            alert('successfully save post')
            console.log(response);
          }).catch(function (error) {
            console.log(error)
          });
    },
    onImageUpload (e) {
      var files = e.target.files || e.dataTransfer.files
      if (!files.length) {
        return
      }
      var imageNotMatch = '';
      for(var i = 0;i < files.length;i++) {
        if (!files[i]['type'].match(/.(jpg|jpeg|png|gif)$/i)) {
          imageNotMatch++;
        }
        this.createImage(files[i]);
        this.postImages.push(files[i]);
      }
    },
    createImage (file) {
      var reader = new FileReader()
      var vm = this
      reader.onload = (e) => {
        vm.post.images.push(e.target.result);
      }
      reader.readAsDataURL(file)
    },
    deleteEvent: function(index) {
      this.post.images.splice(index, 1);
      console.log(this.profilePic);
    }
  }
}
</script>

<style lang="css" scoped>
.postBoxArea {
	border: 1px solid #ddd;
	box-shadow: 0px 0px 3px #ddd;
}
.postBoxArea > textarea{ 
	border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.filsShow > div {
    max-width: 25%;
    display: inline-block;
    min-height: 40px;
    max-height: 50px;
}
.fileUploadParent {
	margin-top: 10px;
	position: relative;
	display: inline-block;
	z-index: 0;
}
.fileUploadParent .imageUpload{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	opacity: 0;
	z-index: 10;
}
.fileUploadParent i{}
.fileUploadParent span{}
</style>