<template>
<dropdown  id="my-new-menu"
    :visible="visible"
    :position="position"
    @clickout="visible = false">
    <div class="inlineBlock hero is-primary" @click="visible = true">
      <div class="hero-body">
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </div>
    </div>
  <div slot="dropdown" class="dialog">
      <ul class="post_dropdown">
        <li><a href="#">Edit</a></li>
        <li><a href="#">Delete</a></li>
      </ul>
  </div>
</dropdown>
</template>

<script>
import dropdown from 'vue-my-dropdown';

export default {

  name: 'PostAction',
  data () {
    return {
      visible: false,
      position:  [ "right", "top", "right", "top" ]
    }
  },
  components: { dropdown},
}
</script>

<style lang="css" scoped>
.post_dropdown {
  background: #fefefe;
  box-shadow: 0px 3px 4px #ccc;
}
.post_dropdown a {
    border-radius: 2px;
    font-size: 14px;
    color: #4a4a4a;
    display: block;
    padding: .2em 1.3em;
}
</style>