<template>
	<div class="whats-your-mind-single-post-content-area overflow-fix"> 
	    <a href=""><img src="/images/post-1.png"/></a>
	    <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, sed maxime hic vero modi architecto atque quos dolores rerum aspernatur! Facilis ab voluptatibus expedita voluptate, distinctio aspernatur labore itaque odio.</p>
	</div>
</template>

<script>
export default {

  name: 'PostContent',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
.text-content {
    background: #f2f4f5;
    box-shadow: 0 1px 2px #ddd;
    border: 1px solid #eee;
    padding: 10px;
}
</style>