<template>
<div>
<div class="whats-your-mind-single-post-content-count overflow-fix">    
    <ul class="d-flex">
        <li>
            <a href="">2 Likes</a>
        </li>
        <li>
            <a href="">5 Comments</a>
        </li>
        <li>
            <a href="">1 Share</a>
        </li>
    </ul>
</div>
<div class="whats-your-mind-single-post-content-count-me overflow-fix"> 
    <ul class="d-flex">
        <li>
            <a href=""><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>like</a>
        </li>
        <li>
            <a href=""><i class="fa fa-commenting-o" aria-hidden="true"></i>Comments</a>
        </li>
        <li>
            <a href=""><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a>
        </li>
    </ul>
</div>
</div>
</template>

<script>
export default {

  name: 'PostActivity',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>