<template>
<div class="whats-your-mind-single-post overflow-fix">
	<post-action></post-action>
	<post-user></post-user>
	<post-content></post-content>
  	<post-activity></post-activity>
    <div class="box comment-box-area overflow-fix">
        <a href="">
        	<p class="prev-comment">Show previous comments</p>
        </a>
        <comments></comments>
    </div>
</div>
</template>

<script>

import PostAction from './PostAction'
import PostUser from './PostUser'
import PostContent from './PostContent'
import PostActivity from './PostActivity'
import Comments from './comment/Comments'

export default {

  name: 'PostShow',

  data () {
    return {

    }
  },
  components: {
  	PostAction,
  	PostUser,
  	PostContent,
  	PostActivity,
  	Comments,
  }
}
</script>

<style lang="css" scoped>
</style>