<template>
    <div class="whats-your-mind-single-post-user-img-area overflow-fix">
        <div class="whats-your-mind-single-post-user-img overflow-fix"> 
            <a href=""><img src="/images/post-1.png"/></a>
        </div>
        <div class="whats-your-mind-single-post-user-img-right-content overflow-fix">   
            <h2>Utpal Shuvro<span>4.0<span><i class="fa fa-star-o" aria-hidden="true"></i></span></span></h2>
            <p class="d-flex">Sports Editor at <span><a href="">The Daily Prothom Alo</a></span>   -   <span>1hr</span></p>
        </div>
    </div>
</template>

<script>
export default {

  name: 'PostUser',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>