<template>
    <keep-alive>
        <components :is="SelectComponent"></components>
    </keep-alive>
</template>

<script>
import { eventBusForEmployeeCreate } from '../../../app'
export default {

  name: 'RegisterMain',

  data () {
    return {
    	SelectComponent: 'register',
    }
  },
  created () {
    eventBusForEmployeeCreate.$on('changeComponentParent', (eventComponent) => {
      this.SelectComponent = eventComponent
    })
  }
}
</script>

<style lang="css" scoped>
</style>