<template>
	<form  @submit.prevent="registerInfoSubmit" method="POST">
        <transition name="slide-fade">
            <app-register-first :mainInfo="user.mainInfo"
                v-show="signupNextBtn"></app-register-first>
        </transition>
        <transition name="fade">
            <app-register-next :basicInfo="user.basicInfo"
                v-show="!signupNextBtn"></app-register-next>
        </transition>
    </form>
</template>

<script>
import registerFirst from './RegisterFirst'
import registerNext from './RegisterNext'
import { eventBusForSignUpBtn } from '../../../app'
export default {

  name: 'Register',

  	data () {
    	return {
    		signupNextBtn: true,
    		user: {
    			mainInfo: {
	    			first_name:'',
	    			last_name:'',
	    			email:'',
	    			password:'',
	    			password_confirmation:'',
    			},
    			basicInfo: {
	    			gender:'',
	    			blood:'',
	    			phone:'',
	    			user_name:'',
	    			birth_date:'',
	    			study:'',
	    			profession:'',
	    			district:'',
	    			address:'',
    			}
    		}
    	}
  	},
  	components: {
  		appRegisterFirst: registerFirst,
  		appRegisterNext: registerNext
  	},
	created () {
		eventBusForSignUpBtn.$on('changeComponentParent', (eventComponent) => {
		  this.signupNextBtn = eventComponent
		})
	},
	methods: {
	    registerInfoSubmit() {
	    	this.$validator.validateAll()
	    	.then((result) => {
        		if (result) {
	      			eventBusForSignUpBtn.changeComponentChild(false)
	      			axios.post('/register', Object.assign(this.user.mainInfo,this.user.basicInfo))
		      			.then((response) => {
				          console.log(response);
				          window.location.href = response.data.redirect;
				        }).catch(function (error) {
				          console.log(error)
				        });
        		} else {
					// this.$notify({
					// 	title: 'Fill Form',
					// 	text: 'Please! Fill all color form!',
					// 	type: 'warn'
					// })
				}
			})
	    }
	}
}
</script>

<style lang="css" scoped>
</style>