<template>
	<div class="login-form-filed-area overflow-fix">
        <div class="login-form-filed-title overflow-fix">
            <h2>
                Sign Up Now!
            </h2>
            <p>A new way to connect journalism network,<br/>Get ready fo the revolution!</p>
        </div>
        <div class="login-form-filed-select one-s overflow-fix">
            <div class="single-select-title">
                <p>Name</p>
                <div class="row">
                    <div class="col-sm-6 form-group"
                    	:class="{'has-error': errors.has('first_name') }">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        <input type="text"
                        	name="first_name"
                            v-model="mainInfo.first_name"
                        	v-validate="'required|alpha|min:3'"
                        	placeholder="First Name"/>
                        <span v-if="errors.has('first_name')"
                            class="help-block"
                            >{{ errors.first('first_name') }}</span>
                    </div>
                    <div class="col-sm-6 form-group"
                    	:class="{'has-error': errors.has('last_name') }">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        <input type="text" 
                        	name="last_name" 
                            v-model="mainInfo.last_name"
                        	v-validate="'required|alpha|min:3'"
                        	placeholder="Last Name"/>
                        <span v-if="errors.has('last_name')"
                            class="help-block"
                            >{{ errors.first('last_name') }}</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="login-form-filed-select one-s overflow-fix">
            <div class="single-select-title">
                <p>Email Address</p>
                <div class="login-form-wicon"
                	:class="{'has-error': errors.has('email') }">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <input type="email" 
                    	name="email" 
                        v-model="mainInfo.email"
                    	v-validate="'required|email'"
                    	placeholder="mail@email.com"/>
                    <span v-if="errors.has('email')"
                        class="help-block"
                        >{{ errors.first('email') }}</span>
                </div>
            </div>
        </div>
        <div class="login-form-filed-select one-s overflow-fix">
            <div class="single-select-title">
                <div class="d-flex justify-content-between">
                    <p>Password</p>
                </div>
                <div class="login-form-wicon"
                	:class="{'has-error': errors.has('password') }">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <input name="password"
                    	type="password"
                        v-model="mainInfo.password"
                    	v-validate="'required|min:6'"
                    	placeholder="Enter your password"/>
                    <span v-if="errors.has('password')"
                        class="help-block"
                        >{{ errors.first('password') }}</span>
                </div>
            </div>
        </div>
        <div class="login-form-filed-select one-s overflow-fix">
            <div class="single-select-title">
                <div class="d-flex justify-content-between">
                    <p>Confirm Password</p>
                </div>
                <div class="login-form-wicon"
                	:class="{'has-error': errors.has('confirm_password') }">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <input type="password"
                    	name="confirm_password"
                        v-model="mainInfo.password_confirmation"
                    	v-validate="'required|confirmed:password'"
                    	placeholder="Confirm your password"/>
                    <span v-if="errors.has('confirm_password')"
                        class="help-block"
                        >{{ errors.first('confirm_password') }}</span>
                </div>
            </div>
        </div>
        <button type="button"
        	@click="nextComponent"
        	class="btn btn-primary contunio-buton-for">
            Continue
        </button>
        <div class="footter-of-singup-form">
            <p>Clicking I agree to Amader Shomoy Social’s Terms of Service.</p>
        </div>
    </div>
</template>

<script>
import { eventBusForSignUpBtn } from '../../../app'
export default {

    name: 'Register',
    props: ['mainInfo'],
  	data () {
    	return {
    	}
  	},
	methods: {
	    nextComponent () {
           this.$validator.validateAll().then((result) => {
                if (result) {
                    eventBusForSignUpBtn.changeComponentChild(false)
                } else {
                      // this.$notify({
                      //   title: 'Fill Form',
                      //   text: 'Please! Fill all color form!',
                      //   type: 'warn'
                      // })
                }
            }).catch(() => {
                // this.$notify({
                //   title: 'ERROR',
                //   text: 'Please! Something Happend',
                //   type: 'error'
                // })
            })
    	}
	}
}
</script>

<style lang="css" scoped>
</style>