<template>
	<div class="login-form-filed-area overflow-fix">
        <div class="login-form-filed-title overflow-fix">
            <h2>
                Must fill up<br/>following information.
            </h2>
            <p>Provide your valid information.</p>
        </div>
        <div class="login-form-filed-select two-s overflow-fix">
            <div class="single-select-title">
                <p>Gender</p>
                <div class="single-select-title-icon form-group"
                	:class="{'has-error': errors.has('gender') }">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                    <select name="gender"
                    	class="post-list-me"
                    	v-model="basicInfo.gender"
                    	v-validate="'required'">
                        <option>Male</option>
                        <option>FeMale</option>
                    </select>
	                <span v-if="errors.has('gender')"
	                    class="help-block"
	                    >{{ errors.first('gender') }}</span>
                </div>
            </div>
            <div class="single-select-title">
                <p>Blood Group</p>
                <div class="single-select-title-icon form-group"
                	:class="{'has-error': errors.has('bloodGroup') }">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                    <select  name="bloodGroup"
                    	class="post-list-me"
                    	v-model="basicInfo.blood"
                    	v-validate="'required'">
                        <option>A+aaaaaa</option>
                        <option>-A</option>
                    </select>
	                <span v-if="errors.has('bloodGroup')"
	                    class="help-block"
	                    >{{ errors.first('bloodGroup') }}</span>
                </div>
            
            </div>
        </div>
        <div class="login-form-filed-select one-s overflow-fix">
            <div class="single-select-title">
                <p>geographical area</p>
                <div class="row">
                    <div class="col-sm-6 form-group single-select-title-icon form-group"
                	:class="{'has-error': errors.has('division') }">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                        <select name="division"
                        	class="post-list-me"
                    		v-model="basicInfo.division"
                    		v-validate="'required'">
                            <option value="">select Division</option>
                            <option value="0">Dhanmondi, Dhaka, Bangladesh,</option>
                            <option value="1">Dhan, Dhaka, Bangladesh,</option>
                        </select>
	                <span v-if="errors.has('division')"
	                    class="help-block"
	                    >{{ errors.first('division') }}</span>
                    </div>
                    <div class="col-sm-6 form-group single-select-title-icon form-group"
                	:class="{'has-error': errors.has('district') }">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                        <select  name="district"
                        	class="post-list-me"
                    		v-model="basicInfo.district"
                    		v-validate="'required'">
                            <option value="">Select District</option>
                            <option value="0">Dhanmondi, Dhaka, Bangladesh,</option>
                            <option value="1">Dhan, Dhaka, Bangladesh,</option>
                        </select>
		                <span v-if="errors.has('district')"
		                    class="help-block"
		                    >{{ errors.first('district') }}</span>
                    </div>
                    <div class="col-sm-12 form-group single-select-title-icon form-group"
                	:class="{'has-error': errors.has('address') }">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                        <textarea class="form-control" 
                        	name="address"
                    		v-model="basicInfo.address"
                    		v-validate="'required'"
                    		placeholder="Address Detail"></textarea>
			                <span v-if="errors.has('address')"
			                    class="help-block"
			                    >{{ errors.first('address') }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-form-filed-select one-s overflow-fix">
            <div class="single-select-title">
                <p>DATE OF BIRTH</p>
                <div class="single-select-title-icon form-group"
                	:class="{'has-error': errors.has('birth_date') }">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                   <vue-datepicker-local
                        :local="local"
                        name="birth_date"
                        class="singupDate"
                        format="DD-MMM-YYYY" 
                        v-model="basicInfo.birth_date"
                        popup-class="signupDateDrop"
                        input-class="signupDateInput"
                        v-validate="'required'"
                        placeholder="BirthDate"></vue-datepicker-local>
	                <span v-if="errors.has('birth_date')"
	                    class="help-block"
	                    >{{ errors.first('birth_date') }}</span>
                </div>
            </div>
        </div>
        <div class="login-form-filed-select one-s overflow-fix">
            <div class="single-select-title">
                <p>Study</p>
                <div class="single-select-title-icon form-group"
                	:class="{'has-error': errors.has('study') }">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    <input type="text"
                    	name="study"
                    	v-model="basicInfo.study"
                    	v-validate="'required'"
                    	placeholder="Education Institude"/>
	                <span v-if="errors.has('study')"
	                    class="help-block"
	                    >{{ errors.first('study') }}</span>
                </div>
            </div>
        </div>
        <div class="login-form-filed-select one-s overflow-fix">
            <div class="single-select-title">
                <p>Mobile Number</p>
                <div class="single-select-title-icon form-group"
                	:class="{'has-error': errors.has('phone') }">
                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                    <input type="text"
                    	name="phone"
                    	v-model="basicInfo.phone"
                    	v-validate="'required'"
                    	placeholder="Phone Number"/>
	                <span v-if="errors.has('phone')"
	                    class="help-block"
	                    >{{ errors.first('phone') }}</span>
                </div>
                
            </div>
        </div>
        <div class="login-form-filed-select one-s overflow-fix">
            <div class="single-select-title">
                <p>Profession</p>
                <div class="single-select-title-icon form-group"
                	:class="{'has-error': errors.has('profession') }">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                    <select name="profession"
                    	class="post-list-me"
                    	v-model="basicInfo.profession"
                    	v-validate="'required'">
                        <option value="1">Journalist</option>
                        <option value="2">Profession</option>
                    </select>
	                <span v-if="errors.has('profession')"
	                    class="help-block"
	                    >{{ errors.first('profession') }}</span>
                </div>
            </div>
        </div>
        <button type="submit" 
        	class="btn btn-primary contunio-buton-for">
            sign up
        </button>
    </div>
</template>

<script>
import VueDatepickerLocal from 'vue-datepicker-local'
import {datePickerLocal} from '../../../utility/Local'
export default {

  	name: 'RegisterNext',
    props: ['basicInfo'],
	data () {
		return {
            local: datePickerLocal,
		}
	},
	methods: {
	  //   finalValidation () {
	  //      this.$validator.validateAll().then((result) => {
   //      		if (result) {
   //      		} else {
			//           // this.$notify({
			//           //   title: 'Fill Form',
			//           //   text: 'Please! Fill all color form!',
			//           //   type: 'warn'
			//           // })
			// 	}
			// }).catch(() => {
			// 	// this.$notify({
			// 	//   title: 'ERROR',
			// 	//   text: 'Please! Something Happend',
			// 	//   type: 'error'
			// 	// })
			// })
   //  	}
	}
}
</script>

<style lang="css">
.singupDate{
    width: 100%;
}
.singupDate:before {
    top: -10px !important;
}
.signupDateDrop{ top: 58% !important; }
</style>