<template>
	<div class="">
		<comment v-for="n in 6" :key="n"></comment>
		<comment-create></comment-create>
	</div>
</template>

<script>
import Comment from './SingleComment'
import CommentCreate from './CommentCreate'
export default {

  name: 'Comments',

  data () {
    return {

    }
  },
  components: {
  	Comment,
  	CommentCreate
  }
}
</script>

<style lang="css" scoped>
</style>