<template>
<div class="media">
  <img class="mr-3" src="/images/profile.png" alt="Generic placeholder image">
  <div class="media-body">
    <input type="text" class="commentBox" />
    <div class="commentUpBtn overflow-fix">
    	<i class="fa fa-camera" aria-hidden="true"></i>
    	<input type="file" class="image-upload form-control" name="Drag or Upload Files" accept="media_type/*"/>
    </div>
  </div>
</div>
</template>

<script>
export default {

  name: 'CommentCreate',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
.media-body {
    position: relative;
}
.commentBox{
    border: 1px solid #e6ecf0;
    width: 100%;
    height: 30px;
    border-radius: 1px;
    margin-top: 6px;
}
.commentUpBtn{    
    width: 20px;
    height: 17px;
    position: absolute;
    right: 8px;
    top: 35%;
    overflow: hidden;
}
.commentUpBtn i {    
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
}
.commentUpBtn input{
	position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 50;
}
</style>