<template>
<div class="media">
  <img class="mr-3" src="/images/profile.png" alt="Generic placeholder image">
  <div class="media-body">
    <div class="comment-text-prover">
        <a class="comment-profile-name" href=""><h5 class="mt-0">Munna Kazi</h5></a>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
    <div class="comment-count-box d-flex">
        <ul class="d-flex">
            <li>
                <a href="">Likes</a>
            </li>
            <li>
                <a href="">Reply</a>
            </li>
        </ul>
        <ul class="d-flex">
            <li>
                <a href="">2 Likes</a>
            </li>
            <li>
                <a href="">5 Reply</a>
            </li>
        </ul>
    </div>
  </div>
</div>
</template>

<script>
export default {

  name: 'SingleComment',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>