<template>
	<modal name="award-popup" :pivotY=0.15 height="auto" :scrollable="true" class="">
		<form  @submit.prevent="awardStore" method="POST" class="overflow-fix">
			<div class="general-area-popup-box-header overflow-fix">
				<button @click="$modal.hide('award-popup')"><i class="fa fa-times"></i></button>
				<h2>Add Awards</h2>
			</div>
			<div class="general-area-popup-box-body overflow-fix">
				<div class="work-area-popup-box-input overflow-fix">
					<p>Award Name:</p>
					<input type="text"
						class="form-control"
						v-model="award.title"
						name="Organization"
						placeholder="Amader Orthoneeti">
				</div>
				<div class="work-area-popup-box-input overflow-fix">
					<p>Award Date:</p>
				   <vue-datepicker-local
                        :local="local"
                        popup-class="topPosition"
                        v-model="award.award_date"
                        name="from" 
                        placeholder="From"></vue-datepicker-local>
				</div>
				<div class="work-area-popup-box-input overflow-fix">
					<p>Link (Optional):</p>
					<input type="text"
						class="form-control"
						v-model="award.link"
						name="Organization"
						placeholder="Amader Orthoneeti">
				</div>
				<div class="work-area-popup-box-input overflow-fix">
					<p>Award Note (optional):</p>
					<textarea class="form-control"
						v-model="award.note"
						name="Organization"
						placeholder="Amader Orthoneeti"></textarea>
				</div>
				<div class="save-button">
					<button>Save Changes</button>
				</div>
			</div>
		</form>
	</modal>
</template>

<script>
import VueDatepickerLocal from 'vue-datepicker-local'
import {datePickerLocal} from '../../../utility/Local'
export default {

  name: 'AwardsUp',

  data () {
    return {
      	local: datePickerLocal,
    	award: {
    		title: '',
    		award_date: '',
    		link: '',
    		note: ''
    	}
    }
  },
  methods: {
  	awardStore() {
  		axios.post('/awards', this.award)
  			.then((response) => {
	          console.log(response);
	        }).catch(function (error) {
	          console.log(error)
	        });
  	}
  }
}
</script>

<style lang="css" scoped>
</style>