<template>
	<modal name="contact-popup" :pivotY=0.15 height="auto" :scrollable="true" class="">
		<form class="overflow-fix">
			<div class="general-area-popup-box-header overflow-fix">
				<button @click="$modal.hide('contact-popup')"><i class="fa fa-times"></i></button>
				<h2>Edit Contact Information</h2>
			</div>
			<div class="general-area-popup-box-body overflow-fix">
				<div class="work-area-popup-box-input overflow-fix">
					<p>Email:</p>
					<input type="text" class="form-control" name="" placeholder="Email">
				</div>
				<div class="work-area-popup-box-input overflow-fix">
					<p>Phone:</p>
					<input type="text" class="form-control" name="" placeholder="Phone">
				</div>
				<div class="work-area-popup-box-input overflow-fix">
					<div class="save-button">
						<button>Save Changes</button>
					</div>
				</div>
			</div>
		</form>
	</modal>
</template>

<script>
export default {

  name: 'ContactUp',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>