<template>
	<modal name="education-popup" :pivotY=0.15 height="auto" :scrollable="true" class="">
		<form @submit.prevent="educationStore" method="POST" class="overflow-fix">
			<div class="general-area-popup-box-header overflow-fix">
				<button @click="$modal.hide('education-popup')"><i class="fa fa-times"></i></button>
				<h2>Add Education</h2>
			</div>
			<div class="general-area-popup-box-body overflow-fix">
				<div class="work-area-popup-box-input overflow-fix">
					<p>University / College / School:</p>
					<input type="text"
						class="form-control"
						v-model="education.institude"
						name="institude"
						placeholder="Amader Orthoneeti">
				</div>
				<div class="work-area-popup-box-input overflow-fix">
					<p>Certificatie Name:</p>
					<input type="text"
						class="form-control"
						v-model="education.certificate_name"
						name="certificate_name"
						placeholder="Ms in Cse">
				</div>
				<div class="work-area-popup-box-input overflow-fix">
					<p>Major/Department:</p>
					<input type="text"
						class="form-control"
						v-model="education.major"
						name="major"
						placeholder="Ms">
				</div>
				<div class="work-area-popup-box-input overflow-fix">
					<div class="work-area-popup-box-dividet overflow-fix">
						<p>Time Period:</p>
						<div class="weekly-timesheet-clander overflow-fix d-flex">
						   <vue-datepicker-local
		                        :local="local"
		                        popup-class="topPosition"
		                        v-model="education.from"
		                        name="from" 
		                        placeholder="From"></vue-datepicker-local>
							<p>to</p>
						  <vue-datepicker-local
		                        :local="local"
		                        popup-class="topPosition"
		                        v-model="education.to"
		                        name="to" 
		                        placeholder="to"></vue-datepicker-local>
						</div>
					</div>
					<label class="custom-control custom-checkbox">
						<input type="checkbox"
						  	name="current"
						  	v-model="education.current_stady" 
						  	class="custom-control-input">
						  <span class="custom-control-indicator"></span>
						  <span class="">
								I am currently working here.
						  </span>
					</label>
					<div class="save-button">
						<button>Save Changes</button>
					</div>
				</div>
			</div>
		</form>
	</modal>
</template>

<script>
import VueDatepickerLocal from 'vue-datepicker-local'
import {datePickerLocal} from '../../../utility/Local'
export default {

  name: 'EducationUp',

  data () {
    return {
      local: datePickerLocal,
      education: {
      	institude: '',
      	certificate_name: '',
      	major: '',
      	from: '',
      	to: '',
      	current_stady: '',
      }
    }
  },
  methods: {
  	educationStore() {
  		axios.post('/educations', this.education)
  			.then((response) => {
	          console.log(response);
	        }).catch(function (error) {
	          console.log(error)
	        });
  	}
  }
}
</script>

<style lang="css" scoped>
</style>