<template>
	<modal name="general-popup"  :pivotY=0.15 height="auto" :scrollable="true" class="">
		<form class="overflow-fix">
			<div class="general-area-popup-box-header overflow-fix">
				<button @click="$modal.hide('general-popup')"><i class="fa fa-times"></i></button>
				<h2>Edit General Indivation</h2>
			</div>
			<div class="general-area-popup-box-body overflow-fix">
				<div class="overflow-fix">
					<p>Full Name:</p>
					<div class="row">
						<div class="form-group col-sm-6">
							<input type="text" class="form-control" name="first_name" placeholder="First Name">
						</div>
						<div class="form-group col-sm-6">
							<input type="text" class="form-control" name="last_name" placeholder="Last Name">
						</div>
					</div>
				</div>
				<div class="overflow-fix">
					<div class="row">
						<div class="form-group col-sm-6">
							<p>Gender:</p>
							<select class="form-control">
							  <option value="">Gender</option>
							  <option>Male</option>
							  <option>WoMale</option>
							</select>
						</div>
						<div class="form-group col-sm-6">
							<p>Blood Group:</p>
							<select class="form-control">
							  <option>Blood Group</option>
							  <option>A+</option>
							  <option>B-</option>
							</select>
						</div>
					</div>
				</div>
				<div class="overflow-fix">
					<p>Date of birth:</p>
					   <vue-datepicker-local
                        :local="local"
                        popup-class="topPosition"
                        name="birthDate" 
                        placeholder="BirthDate"></vue-datepicker-local>
				</div>
				<hr class="overflow-fix">
				<div class="save-bmodal" name="general-popup">
					<button type="submit" class="btn btn-sm btn-primary">
						<i class="fa fa-cloud"></i> 
						<strong>Save Changes</strong>
					</button>
				</div>
			</div>
		</form>
	</modal>
</template>

<script>
import VueDatepickerLocal from 'vue-datepicker-local'
import {datePickerLocal} from '../../../utility/Local'

export default {

  name: 'GeneralInfo',

  data () {
    return {
      local: datePickerLocal,
    }
  },
  components: {
    VueDatepickerLocal
  },
}
</script>

<style lang="css">
.form-control {
	padding: 8px;
    font-size: 14px;
    border-radius: 0;
}
.topPosition {
	bottom: 100%;
}
</style>