<template>
	<modal name="social-popup" :pivotY=0.15 height="auto" :scrollable="true" class="">
		<form @submit.prevent="socialLinkStore" method="POST" class="overflow-fix">
			<div class="general-area-popup-box-header overflow-fix">
				<button @click="$modal.hide('social-popup')"><i class="fa fa-times"></i></button>
				<h2>Add Your Social Link</h2>
			</div>
			<div class="general-area-popup-box-body overflow-fix">
				<div class="work-area-popup-box-input overflow-fix">
					<p>Social Type:</p>
					<select class="form-control"
						v-model="links.type"
						name="link">
						<option v-for="type, index in types"
							:key="type.index"
							:value="index">{{ type.name }}</option>
					</select>
				</div>
			</div>
			<div class="general-area-popup-box-body overflow-fix">
				<div class="work-area-popup-box-input overflow-fix">
					<p>Social Link:</p>
					<input type="text"
						class="form-control"
						v-model="links.link"
						name="link"
						placeholder="Email">
				</div>
				<div class="work-area-popup-box-input overflow-fix">
					<div class="save-button">
						<button>Save Changes</button>
					</div>
				</div>
			</div>
		</form>
	</modal>
</template>

<script>
export default {

  name: 'SocialUp',

  data () {
    return {
    	types: [],
    	links: {
    		link: '',
    		type: ''
    	}
    }
  },
  created() {
  	axios.get('/available_links')
  	.then((response) => {
		this.types = response.data;
    }).catch(function (error) {
 	 	console.log(error)
    });
  },
  methods: {
  	socialLinkStore() {
  		axios.post('/socials', this.links)
  			.then((response) => {
	          console.log(response);
	        }).catch(function (error) {
	          console.log(error)
	        });
  	}
  }
}
</script>

<style lang="css" scoped>
</style>