<template>
	<modal name="work-popup" :pivotY=0.15 height="auto" :scrollable="true" class="">
		<form  @submit.prevent="workStore" method="POST" class="overflow-fix">
			<div class="general-area-popup-box-header overflow-fix">
				<button @click="$modal.hide('work-popup')"><i class="fa fa-times"></i></button>
				<h2>Add Work</h2>
			</div>
			<div class="general-area-popup-box-body overflow-fix">
				<div class="work-area-popup-box-input overflow-fix">
					<p>Company / Organization:</p>
					<input type="text"
						class="form-control"
						v-model="work.org_name"
						name="Organization"
						placeholder="Amader Orthoneeti">
				</div>
				<div class="work-area-popup-box-input overflow-fix">
					<p>Position:</p>
					<input type="text"
						class="form-control"
						v-model="work.position"
						name="position"
						placeholder="Editor">
				</div>
				<div class="work-area-popup-box-input overflow-fix">
					<div class="work-area-popup-box-dividet overflow-fix">
						<p>Time Period:</p>
						<div class="weekly-timesheet-clander overflow-fix d-flex">
						   <vue-datepicker-local
		                        :local="local"
		                        popup-class="topPosition"
		                        v-model="work.from"
		                        name="from" 
		                        placeholder="From"></vue-datepicker-local>
							<p>to</p>
						   <vue-datepicker-local
		                        :local="local"
		                        popup-class="topPosition"
		                        v-model="work.to"
		                        name="to" 
		                        placeholder="TO"></vue-datepicker-local>
						</div>
					</div>
					<label class="custom-control custom-checkbox">
						  <input type="checkbox"
						  	name="current"
						  	v-model="work.current" 
						  	class="custom-control-input">
						  <span class="custom-control-indicator"></span>
						  <span class="">
								I am currently working here.
						  </span>
					</label>
					<div class="save-button">
						<button>Save Changes</button>
					</div>
				</div>
			</div>
		</form>
	</modal>
</template>

<script>
import VueDatepickerLocal from 'vue-datepicker-local'
import {datePickerLocal} from '../../../utility/Local'
export default {

  name: 'WorkUp',

  data () {
    return {
      local: datePickerLocal,
      work: {
      	org_name: '',
      	position: '',
      	from: '',
      	to: '',
      	current: '',
      }
    }
  },
  methods: {
  	workStore() {
  		axios.post('/works', this.work)
  			.then((response) => {
	          console.log(response);
	        }).catch(function (error) {
	          console.log(error)
	        });
  	}
  }
}
</script>

<style lang="css" scoped>
</style>