<template>
	<transition name="fade">
    <div class="modal_popup">
    	<div @click="$emit('close')" class="modalPopupOverlayer"></div>
    	<div class="modal_in">
    		<form @submit.prevent="storeAvatar" method="POST">
    		<div class="modal_header">
    			<div class="row">
    				<div class="col-sm-10 header_left">
    					<h3>
	    					<i class="fa fa-camera"></i>
	    					<span>Upload Your Profile Image</span>
    					</h3>
    				</div>
    				<div class="col-sm-2 header_close">
    					<button type="button" @click="$emit('close')"><i class="fa fa-window-close"></i></button>
    				</div>
    			</div>
    		</div>
    		<div class="modal_body">
    			<div class="row">
    				<div class="col-sm-6">
    					<div class="form-group">
    						<input type="file" 
						        @change="avatarUploadEvent"
						        class="form-control">
    					</div>
    				</div>
    				<div class="col-sm-6">
    					<img src="" alt="">
    				</div>
    			</div>
    		</div>
    		<div class="modal_footer">
    			<button type="Submit" 
    				class="btn btn-sm btn-primary">
    				<i class="fa fa-cloud"></i>Submit
    			</button>
    			<button type="button" class="btn btn-sm btn-danger" 
    				@click="$emit('close')">
    				<i class="fa fa-window-close-o"></i>Cancel
    			</button>
    		</div>
    		</form>
    	</div>
    </div>
</transition>
</template>

<script>
export default {

  name: 'AvaterModal',
  data () {
  	return {
  		avatar: '',
  	}
  },
  methods: {
    storeAvatar() {
    	console.log(this.avatar);
      axios.post('/avatar/update', this.avatar)
        .then((response) => {
            console.log(response);
          }).catch(function (error) {
            console.log(error)
          });
    },
  	avatarUploadEvent (e){
		var files = e.target.files || e.dataTransfer.files
		if (!files.length) {
			return
		}
		if (!files[0]['type'].match(/.(jpg|jpeg|png|gif)$/i)) {
		  	alert('this is not a image');
		  	return
		}

      	var data = new FormData();
    	data.append('avatar', files[0]);
    	this.avatar = data;
  	}
  }
}
</script>

<style lang="css" scoped>

</style>