<template>
    <div ref="items" class="my-profile-header-cover-profile-pic overflow-fix">
        <a href=""><img src="/images/big-profile.png"/></a>
        <span>4.0<i class="fa fa-star" aria-hidden="true"></i></span>
        <button type="button" 
        	class="avaterUploadBtn" 
        	@click="showModal = true">
        	<i class="fa fa-camera"></i>
        </button>
        <modal v-if="showModal" @close="showModal = false"></modal>
    </div>
</template>

<script>
import modal from '../utility/AvaterModal'
export default {
  name: 'Avater',
  data () {
    return {
    	showModal: false
    }
  },
  mounted(){
  	console.log(this.$refs.items)
  },
  components: {
  	modal,
  },
}
</script>

<style lang="css" scoped>
.avaterUploadBtn{
	position: absolute;
    right: 7px;
    bottom: 7px;
    padding: 3px 5px 3px 7px;
    margin: 0;
    border: none;
    background: #fff;
}
.avaterUploadBtn i {
	font-size: 16px;
	line-height: 18px;
}

</style>