<template>
<div>
	<div v-if="awards.length > 0">
		<div v-for="award,index in awards" 
			:key="index"
			class="award-sidebar-content-area overflow-fix">
			<h2><a :href="award.link">{{ award.title }}</a></h2>
			<span>{{ award.award_date }}</span>
			<p v-if="award.note !== null">{{ award.note }}</p>
			<img src="/images/ward-2.png"/>
		</div>
	</div>
	<div v-else>No Award</div>
</div>
</template>

<script>
export default {

  name: 'Awards',

  data () {
    return {
    	awards: []
    }
  },
  created() {
  	axios.get('/awards')
  	.then((response) => {
  		console.log(response);
		this.awards = response.data;
    }).catch(function (error) {
 	 	console.log(error)
    });
  }
}
</script>

<style lang="css" scoped>
</style>