<template>
	<div class="row margin-o">
		<div class="col-lg-6 padding-o">
			<div class="single-about-left-area overflow-fix">
				<p>Email:<span>mailname@email.com</span></p>
				<p>Phone:<span>+880 123 456 789</span></p>
				<p>Geographical Area:<span>Khilgaon, Dhaka</span></p>
			</div>
		</div>
	</div>
</template>

<script>
export default {

  name: 'Contact',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>