<template>
	<div>
		<a href="#">
			<img src="/images/big-cover.png"/>
		</a>
	    <button type="button" 
	    	class="avaterUploadBtn" 
	    	@click="showCoverModal = true">
	    	<i class="fa fa-camera"></i>
	    </button>
	    <cover-modal v-if="showCoverModal" 
	    	@coverClose="showCoverModal = false">
    	</cover-modal>
	</div>
</template>

<script>

import coverModal from '../utility/CoverModal'
export default {
  name: 'Cover',
  data () {
    return {
    	showCoverModal: false
    }
  },
  components: {
  	coverModal,
  },
}
</script>

<style lang="css" scoped>
.avaterUploadBtn{
    position: absolute;
    right: 7px;
    bottom: 7px;
    padding: 5px 10px;
    margin: 0;
    border: none;
    background: #fff;
    box-shadow: 0px 1px 4px #e6edf0;
}
.avaterUploadBtn i {
	font-size: 16px;
	line-height: 18px;
}
</style>