<template>
<div>
	<div v-if="educations.length" class="row margin-o">
		<div v-for="education in educations" :key="education.id" class="col-lg-6 padding-o">
			<div class="single-about-left-area overflow-fix">
				<h2>{{ education.institude }}</h2>
				<p><b>{{ education.certificate_name }}</b></p>
				<p>Major: {{education.major}}</p>
				<p>{{education.from}} - {{education.current_stady===0?'Present':education.to}}</p>
			</div>
		</div>
	</div>
	<div v-else class="">No education</div>
</div>
</template>

<script>
export default {

  name: 'Education',

  data () {
    return {
    	educations: [],
    }
  },
  created() {
  	axios.get('/educations')
  	.then((response) => {
		this.educations = response.data;
    }).catch(function (error) {
 	 	console.log(error)
    });
  }
}
</script>

<style lang="css" scoped>
</style>