<template>
<div class="row margin-o">
	<div class="col-lg-6 padding-o">
		<div class="single-about-left-area overflow-fix">
			<h2>Full Name:<br/><span>{{first_name}} {{ last_name }}</span></h2>
			<h2>Gender:<br/><span>{{ gender }}</span></h2>
			<h2>Password:<br/>
				<span class="password-hidden-hide d-flex">
					<ul>
						<li><i class="fa fa-circle" aria-hidden="true"></i></li>
						<li><i class="fa fa-circle" aria-hidden="true"></i></li>
						<li><i class="fa fa-circle" aria-hidden="true"></i></li>
						<li><i class="fa fa-circle" aria-hidden="true"></i></li>
						<li><i class="fa fa-circle" aria-hidden="true"></i></li>
						<li><i class="fa fa-circle" aria-hidden="true"></i></li>
					</ul>
					<p>65465465%*&(*&(**)$%</p>
					<i class="fa fa-eye" aria-hidden="true"></i>
				</span>
			</h2>
		</div>
	</div>
	<div class="col-lg-6 padding-o">
		<div class="single-about-right-area overflow-fix">
			<h2>Blood Group:<br/><span>{{ blood }}</span></h2>
			<h2>Date of birth:<br/><span>{{ birth_date }}</span></h2>
		</div>
	</div>
</div>
</template>

<script>

export default {

  name: 'General',

  data () {
    return {
    	first_name:'',
    	last_name: '',
    	gender: '',
    	birth_date: '',
    	blood: '',
    }
  },
  created() {
  	axios.get('/basicInfo')
  	.then((response) => {
		// console.log(response);
		this.first_name = response.data.first_name;
		this.last_name = response.data.last_name;
		this.gender = response.data.gender;
		this.birth_date = response.data.birth_date;
		this.blood = response.data.blood;
    }).catch(function (error) {
 	 	console.log(error)
    });
  },
  computed: {
  	formetBirthDate(){}
  }
}
</script>

<style lang="css" scoped>
</style>