<template>
	<div class="">
		<div class="user-profile-area overflow-fix">
		<div class="user-profile-cover-photo-area overflow-fix">
            <img :src="coverPic"/>
			<div class="user-profile-picurt-area overflow-fix">
                <a href=""><img :src="avatarPic"/></a>
			</div>
		</div>
		<div class="user-profile-info-area overflow-fix">
			<a href=""><h2>{{fullName}}</h2></a>
			<p>Director & Head of News</p>
			<a href=""><span>Impress Telifilm Ltd</span></a>
		</div>
		<div class="user-profile-ratiing-area overflow-fix">	
			<ul>
				<li><i class="fa fa-star" aria-hidden="true"></i></li>
				<li><i class="fa fa-star" aria-hidden="true"></i></li>
				<li><i class="fa fa-star" aria-hidden="true"></i></li>
				<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
				<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
				<li><span>3.5</span></li>
			</ul>
		</div>
	</div>
	<div class="user-profile-post-flow-floing-area overflow-fix background-white d-flex justify-content-between">
		<div class="user-profile-post-flow-floing-single-area overflow-fix">
			<p>Posts</p>
			<span>13</span>
		</div>
		<div class="user-profile-post-flow-floing-single-area overflow-fix">
			<p>Followers</p>
			<span>169</span>
		</div>
		<div class="user-profile-post-flow-floing-single-area overflow-fix">
			<p>Following</p>
			<span>25</span>
		</div>
	</div>
	<div class="user-profile-social-area overflow-fix background-white">	
		<h2 class="wid-get-title">On the social</h2>
		<ul>
			<li v-for="link,index in userInfo.contact" :key="index">
				<a :href="link.link">
					<i class="fa" 
						:class="link.type.icon" 
						:style="{ color: '#'+link.type.color }"
						aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</div>
	<div class="user-profile-awards-area overflow-fix background-white">	
		<h2 class="wid-get-title">Awards</h2>
		<ul class="d-flex align-items-left">
			<li v-for="award,index in userInfo.awards" :key="index">
				<a :href="award.link">
					<h4>{{award.title}}</h4>
					<p>Honered At {{award.award_date}}</p>
					<img src="/images/ward-1.png"/>
				</a>
			</li>
		</ul>
	</div>
	<div class="user-profile-certificate-area overflow-fix background-white">	
		<h2 class="wid-get-title">Certificate</h2>
		<ul class="d-flex align-items-left">
			<li><a href=""><img src="/images/cerfied-1.png"/></a></li>
			<li><a href=""><img src="/images/cerfied-2.png"/></a></li>
		</ul>
	</div>
	<div class="user-profile-member-since-area overflow-fix background-white">	
		<p>Member Since:<span>{{userInfo.created_at}}</span></p>
	</div>
	</div>
</template>

<script>
export default {

  name: 'LeftBar',

  data () {
    return {
    	userInfo: {},
        coverPic: '',
        avatarPic: '',
        coverPlaceholder: '/images/cover.png',
        avatarPlaceholder: '/images/profilep.png'
    }
  },
  computed: {
  	fullName (){
  		return this.userInfo.first_name + this.userInfo.last_name;
  	},
  },
  created() {
  	axios.get('/authorize_info')
  	.then((response) => {
        this.userInfo = response.data
        this.userCover()
        this.userAvater()
    }).catch(function (error) {
 	 	console.log(error)
    });
  },
  methods: {
    userCover (cover){
    	var cover = this.userInfo.current_cover.image
    	this.coverPic = cover?'/storage/' + cover:this.coverPlaceholder
        //     var coverObj = cover.find(function(card) {
        //         return card.image;
        //     });
        //     this.coverPic = '/storage/'+coverObj.image
    },
    userAvater (avatar){
    	var avatar = this.userInfo.current_profile.image
    	this.avatarPic = avatar?'/storage/' + avatar:this.avatarPlaceholder
    }
  }
}
</script>

<style lang="css" scoped>
</style>