<template>
	<div class="award-sidebar-content-area overflow-fix">
		<ul v-if="links.length > 0">
			<li v-for="link, index in links"
				:key="index">
				<a :href="link.link">
					<i class="fa"
						:class="link.type.icon" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
		<div v-else>No Social Link</div>
	</div>
</template>

<script>
export default {

  name: 'SocialLinks',

  data () {
    return {
    	links: []
    }
  },
  created() {
  	axios.get('/socials')
  	.then((response) => {
		this.links = response.data;
    }).catch(function (error) {
 	 	console.log(error)
    });
  }
}
</script>

<style lang="css" scoped>
</style>