<template>
<div>
	<div v-if="workLength" class="row margin-o">
		<div v-for="work in works"
			:key='work.id'
			class="col-lg-6 padding-o">
			<div class="single-about-left-area overflow-fix">
				<h2>{{ work.org_name }}</h2>
				<p><b>{{ work.position }}</b></p>
				<p>{{work.from}} - {{work.current===0?'Present':work.to}}</p>
			</div>
		</div>
	</div>
	<div v-else><p>No work <a href="#" class="">Add Work</a></p></div>
</div>
</template>

<script>
export default {

  name: 'Work',

  data () {
    return {
    	works: [],
    }
  },
  computed: {
  	workLength() {
  		return this.works.length > 0 ? true: false;
  	}
  },
  created() {
  	axios.get('/works')
  	.then((response) => {
		this.works = response.data;
    }).catch(function (error) {
 	 	console.log(error)
    });
  }
}
</script>

<style lang="css" scoped>
</style>